@media screen {
    @viewport {
        zoom: 1.0;
        width: device-width;
    }

    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
    }

    .filter {
        float: left;
        width: 25%;
    }

    select {
        float: right;
        width: 50%;
    }

    #issues, #legend {
        width: 96%;
    }

    .toggleButton {
        float: left;
        clear: left;
    }

    h1, h2, h3, p, span {
        padding: 15px;
    }

    h3 {
        margin: 0px;
        font-weight: normal;
        font-size: 1em;
        overflow: hidden;
    }

    header h3 {
        color: rgb(240,240,240);
    }

    body {
        background-color: rgb(240, 240, 240);
    }

    header {
        background-color: rgb(80, 80, 80);
        color: white;
        overflow: hidden; /*Creates new 'BFC', so it aligns properly with the left-floated nav*/
    }

    li, a, p, span {
        font-size: 0.75em;
    }

    #issues, #legend {
        height: auto;
    }

    *[onclick]:hover, *[href]:hover, .activated, *[ng-click]:hover {
        cursor: pointer;
        opacity: 0.5;
        background-color: white;
        color: black;
    }

    #issues, form, #current_issue, #legend {
        float: left;
        margin: 2%;
        clear: right;
    }

    #open_issues .issue {
        background-color: rgba(150,150,220,0.5);
        color: black;
    }

    #closed_issues .issue {
        background-color: rgba(220,150,150,0.5);
        color: grey;
    }

    #open_issues, #closed_issues, #detailspane, #legend {
        background-color: white;
    }

    #open_issues, #closed_issues {
        margin-bottom: 20px;
    }

    #legend {
        padding: 15px;
    }

    .issue {
        padding: 15px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .issue span {
        padding-left: 10px;
        vertical-align: middle;
    }

    [ng-switch='i.Severity'] > div, 
    #legend #lowseverity, 
    #legend #mediumseverity, 
    #legend #highseverity {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 30px;
    }

    #legend > div > div {
        float: left;
        margin-right: 30px;
    }

    [ng-switch='i.Severity'] > div {
        float: right;
    }

    [ng-switch-when='Low'], #legend #lowseverity {
        background-color: green;
    }

    [ng-switch-when='Medium'], #legend #mediumseverity {
        background-color: yellow;
    }

    [ng-switch-when='High'], #legend #highseverity {
        background-color: red;
    }
}

@media (max-width: 800px) {
    .filter {
        float: left;
        width: 100%;
    }

    select {
        float: right;
        width: 50%;
    }
        
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
}

@media print {
    button {
        display: none;
    }
    .issue {
        color: black;
        background-color: white;
        border: none;
        padding: 0px;
        margin: 3px;
    }
}