@media screen {
    @viewport {
        zoom: 1.0;
        width: device-width;
    }

    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
    }

    .filter {
        float: left;
        width: 50%;
        text-align: right;
    }

    .filterButtons {
        clear: left;
        padding: 15px;
    }

    select {
        float: right;
        width: 50%;
        min-height: 30px;
    }

    #issues {
        width: 96%;
    }

            #issues table tr td:first-of-type {
                color: grey;
                font-weight: bold;
            }

            #issues table tr * {
                vertical-align: text-top;
                padding-bottom: 15px;
                padding-right: 20px;
            }

    .issueDetails {
        padding: 15px;
    }

    #legend, #filters {
        width: 96%;
    }

    .toggleButton {
        float: left;
        clear: left;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    h1, h2, h3, p, span {
        padding: 15px;
    }

    h3 {
        margin: 0px;
        font-weight: normal;
        font-size: 1em;
        overflow: hidden;
    }

    header h1 {
        padding: 30px;
    }

    body {
        background-color: rgb(240, 240, 240);
    }

    header {
        background-color: grey;
        color: white;
        overflow: hidden; /*Creates new 'BFC', so it aligns properly with the left-floated nav*/
    }

    li, a, p, span {
        font-size: 0.75em;
    }

    #issues, #legend, #filters {
        height: auto;
    }

    *[onclick]:hover, *[href]:hover, .activated, *[ng-click]:hover {
        cursor: pointer;
        opacity: 0.5;
        /*background-color: white;*/
        color: black;
    }

    #issues, #current_issue, #legend, #filters {
        float: left;
        margin: 2%;
        /*clear: right;*/
    }

    #open_issues .issue, .openIssue {
        /*background-color: rgba(150,150,220,0.5);
        color: black;*/
    }

    #closed_issues .issue {
        /*background-color: rgba(220,150,150,0.5);*/
        /*color: grey;*/
    }

    #open_issues, #closed_issues, #detailspane, #legend, #filters {
        background-color: white;
    }

    #open_issues, #closed_issues {
        margin-bottom: 20px;
        width: 48%;
    }

    #open_issues {
        float: left;
    }

    #closed_issues {
        float: right;
    }

    #legend {
        padding: 15px;
    }

    .issue {
        padding: 15px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .issue span {
        padding-left: 10px;
        vertical-align: middle;
        font-size: 1em;
    }

    #legend > div > div[data-severity] {
        width: 30px;
        height: 10px;
        /*border-radius: 50%;*/
        margin-right: 30px;
    }

    #legend > div > div {
        float: left;
        margin-right: 30px;
    }

    [data-severity='Low'] {
        background-color: rgb(168, 255, 159);
    }

    [data-severity='Medium'] {
        background-color: rgb(254, 255, 132);
    }

    [data-severity='High'] {
        background-color: rgb(255, 139, 139);
    }
}

@media (max-width: 800px) {
    .filter {
        width: 100%;
    }
        
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
}

@media print {
    button {
        display: none;
    }
    .issue {
        color: black;
        background-color: white;
        border: none;
        padding: 0px;
        margin: 3px;
    }
}