@media screen {
    @viewport {
        zoom: 1.0;
        width: device-width;
    }

    @-ms-viewport {
        width: extend-to-zoom;
        zoom: 1.0;
    }

    .filter {
        float: left;
        width: 50%;
        text-align: right;
    }

    .filterButtons {
        clear: left;
        padding: 15px;
    }

    select {
        float: right;
        width: 50%;
        min-height: 30px;
    }

    #issues {
        width: 96%;
    }

            #issues table tr td:first-of-type {
                color: grey;
                font-weight: bold;
            }

            #issues table tr * {
                vertical-align: text-top;
                padding-bottom: 15px;
                padding-right: 20px;
            }

    .issueDetails {
        padding: 15px;
    }

    #legend, #filters {
        width: 96%;
    }

    .toggleButton {
        float: left;
        clear: left;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    h1, h2, h3, p, span {
        padding: 15px;
    }

    h3 {
        margin: 0px;
        font-weight: normal;
        font-size: 1em;
        overflow: hidden;
    }

    header h1 {
        padding: 30px;
    }

    body {
        background-color: rgb(240, 240, 240);
    }

    header {
        background-color: grey;
        color: white;
        overflow: hidden; /*Creates new 'BFC', so it aligns properly with the left-floated nav*/
    }

    li, a, p, span {
        font-size: 0.75em;
    }

    #issues, #legend, #filters {
        height: auto;
    }

    *[onclick]:hover, *[href]:hover, .activated, *[ng-click]:hover {
        cursor: pointer;
        opacity: 0.5;
        /*background-color: white;*/
        color: black;
    }

    #issues, #current_issue, #legend, #filters {
        float: left;
        margin: 2%;
        /*clear: right;*/
    }

    #open_issues .issue, .openIssue {
        /*background-color: rgba(150,150,220,0.5);
        color: black;*/
    }

    #closed_issues .issue {
        /*background-color: rgba(220,150,150,0.5);*/
        /*color: grey;*/
    }

    #open_issues, #closed_issues, #detailspane, #legend, #filters {
        background-color: white;
    }

    #open_issues, #closed_issues {
        margin-bottom: 20px;
        width: 48%;
    }

    #open_issues {
        float: left;
    }

    #closed_issues {
        float: right;
    }

    #legend {
        padding: 15px;
    }

    .issue {
        padding: 15px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .issue span {
        padding-left: 10px;
        vertical-align: middle;
        font-size: 1em;
    }

    #legend > div > div[data-severity] {
        width: 30px;
        height: 10px;
        /*border-radius: 50%;*/
        margin-right: 30px;
    }

    #legend > div > div {
        float: left;
        margin-right: 30px;
    }

    [data-severity='Low'] {
        background-color: rgb(168, 255, 159);
    }

    [data-severity='Medium'] {
        background-color: rgb(254, 255, 132);
    }

    [data-severity='High'] {
        background-color: rgb(255, 139, 139);
    }
}

@media (max-width: 800px) {
    .filter {
        width: 100%;
    }
        
    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }
}

@media print {
    button, input, select, textarea {
        display: none;
        visibility: hidden;
    }

    .issue {
        color: black;
        background-color: white;
        border: none;
        padding: 0px;
        margin: 3px;
    }

    #filters, .toggleButton {
        display: none;
    }
}

button {
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 0px 6px 0px inset;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    background-color: rgb(230, 230, 230);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.2) 0px 0px 6px 0px inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: inline-block;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    height: 35px;
    line-height: normal;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
    zoom: 1;
}

select {
  background: linear-gradient(to bottom, #f7f7f8 0%,#ffffff 100%); /*url(../img/keyIcon.png) 12px 11px no-repeat, */
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  transition: all 0.2s linear;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 13px;
  color: #222222;
  position: relative;
  height: 36px;
  display: block;
  &::-webkit-input-placeholder {
    color: #999999;
  }
  
  &:-moz-placeholder {
    color: #999999;
  }

  &:focus{
    box-shadow: 0 1px 0 #2392F3 inset, 0 -1px 0 #2392F3 inset, 1px 0 0 #2392F3 inset, -1px 0 0 #2392F3 inset, 0 0 4px rgba(35,146,243,0.5);
    outline: none;
    background: #FFF; /*url(../img/keyIcon.png) 12px 11px no-repeat, */
  }
}