h1{ 
	color: lime;
}

h3{
	background-color: lime;
}

strong{
	background-color: lime;
}

.helpButton {
    float: right;
    font-size: 2em;
    width: 1em; 
    height: 1em; 
    border-radius: 50%; 
    border: 1px solid black;
    text-align: center; 
    vertical-align: middle;
}
.helpButton:hover { 
    background-color: lime;
    cursor: pointer;
}