<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <style>
        h3 {
            padding: 0px;
            margin: 0px;
            font-size: 1em;
            font-weight: normal;
        }
    </style>

    <title>Blue Tag</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="initialize('Blue Tag', 'WCM', ['BlueTags'])">
    <table>
        <tr class="dkblue whitetext">
            <td colspan="5">
                <style>
                    [field*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                    }
                </style>
                <h1>Blue Tag Number <field field="fields['ID']"></field></h1>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Tag#</td>
            <td class="ltgrey">WO#</td>
            <td class="ltgrey">Tag Type</td>
            <td class="ltgrey">Name</td>
        </tr>
        <tr>
            <td><field field="fields['TagNo']" html='required="required"'></field></td>
            <td><field field="fields['WONo']"></field></td>
            <td>
                <field field="fields['TagType']" options="['WO','AM']"></field>
            </td>
            <td><field field="fields['Name']"></field></td>
        </tr>
        <tr>
            <td class="ltgrey">Date Opened</td>
            <td class="ltgrey">Shift</td>
            <td class="ltgrey">Department</td>
            <td class="ltgrey">Zone</td>
        </tr>
        <tr>
            <td><field field="fields['OpenDate']" html='required="required"'></field></td>
            <td>
                <field field="fields['Shift']" options="[1,2,3]"></field>
            </td>
            <td>
                <field field="fields['DepartmentID']"></field>
            </td>
            <td>
                <field field="fields['ZoneID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Machine</td>
            <td class="ltgrey">Problem Type</td>
            <td class="ltgrey">Date Completed</td>
            <td class="ltgrey">Completed By</td>
        </tr>
        <tr>
            <td>
                <field field="fields['MachineID']"></field>
            </td>
            <td>
                <field field="fields['ProblemType']" options="['Oil leak','Water leak','Grease/lube leak','Air leak','Contamination','Out of operating range',
                    'Vibration','Wrong temperature','Wrong pressure','Difficult to lube','Difficult to clean','Irregular function','Loose/missing fastener','Other']"></field>
            </td>
            <td><field field="fields['CompletedDate']"></field></td>
            <td><field field="fields['CompletedBy']"></field></td>
        </tr>
        <tr>
            <td colspan="4" class="ltgrey">Details</td>
        </tr>
        <tr>
            <td colspan="4" height="100"><field field="fields['Details']" multiline="true"></field></td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.executeQueries()">{{form.hasRecord ? "Update" : "Submit"}}</button>
            </td>
        </tr>
    </table>
</body>
</html>