<!DOCTYPE html>
<html>
<head>
    

    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/imageupload.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/Checklist.css" />

    <title>EHS</title>

    <style>
        h1{ 
	        color: rgb(204, 255, 153);
        }

        h3{
	        background-color: rgb(204, 255, 153);
        }

        strong{
	        background-color: rgb(204, 255, 153);
        }
    </style>

    <link rel="shortcut icon" href="/res/favicon.png" type="image/x-icon" />
</head>
<body ng-app="wcm"
      ng-controller="Form"
      ng-init="initialize('EHS', 'WCM', ['EHS', 'EHSLine'], {'EHSLine' : 48},
        {'EHSLine':
            {
                '0':{'SubCategoryID':1,'CategoryID':1,'Severity':'High'},'1':{'SubCategoryID':2,'CategoryID':1,'Severity':'High'},'2':{'SubCategoryID':3,'CategoryID':1,'Severity':'High'},
                '3':{'SubCategoryID':4,'CategoryID':1,'Severity':'High'},'4':{'SubCategoryID':7,'CategoryID':2,'Severity':'High'},'5':{'SubCategoryID':8,'CategoryID':2,'Severity':'High'},
                '6':{'SubCategoryID':9,'CategoryID':2,'Severity':'Medium'},'7':{'SubCategoryID':15,'CategoryID':2,'Severity':'Medium'},'8':{'SubCategoryID':10,'CategoryID':2,'Severity':'Medium'},
                '9':{'SubCategoryID':11,'CategoryID':2,'Severity':'Medium'},'10':{'SubCategoryID':12,'CategoryID':2,'Severity':'High'},'11':{'SubCategoryID':13,'CategoryID':2,'Severity':'Medium'},
                '12':{'SubCategoryID':16,'CategoryID':2,'Severity':'Medium'},'13':{'SubCategoryID':14,'CategoryID':2,'Severity':'High'},'14':{'SubCategoryID':17,'CategoryID':8,'Severity':'High'},
                '15':{'SubCategoryID':18,'CategoryID':8,'Severity':'High'},'16':{'SubCategoryID':19,'CategoryID':8,'Severity':'Medium'},'17':{'SubCategoryID':20,'CategoryID':8,'Severity':'Medium'},
                '18':{'SubCategoryID':21,'CategoryID':8,'Severity':'Medium'},'19':{'SubCategoryID':22,'CategoryID':8,'Severity':'Medium'},'20':{'SubCategoryID':23,'CategoryID':8,'Severity':'Medium'},
                '21':{'SubCategoryID':24,'CategoryID':9,'Severity':'Medium'},'22':{'SubCategoryID':25,'CategoryID':9,'Severity':'Medium'},'23':{'SubCategoryID':26,'CategoryID':9,'Severity':'High'},
                '24':{'SubCategoryID':27,'CategoryID':10,'Severity':'Medium'},'25':{'SubCategoryID':57,'CategoryID':3,'Severity':'Low'},'26':{'SubCategoryID':58,'CategoryID':3,'Severity':'Low'},
                '27':{'SubCategoryID':28,'CategoryID':11,'Severity':'Low'},'28':{'SubCategoryID':61,'CategoryID':4,'Severity':'Medium'},'29':{'SubCategoryID':59,'CategoryID':4,'Severity':'High'},
                '30':{'SubCategoryID':60,'CategoryID':4,'Severity':'High'},'31':{'SubCategoryID':61,'CategoryID':4,'Severity':'High'},'32':{'SubCategoryID':63,'CategoryID':4,'Severity':'Low'},
                '33':{'SubCategoryID':29,'CategoryID':12,'Severity':'High'},'34':{'SubCategoryID':30,'CategoryID':12,'Severity':'High'},'35':{'SubCategoryID':31,'CategoryID':12,'Severity':'High'},
                '36':{'SubCategoryID':32,'CategoryID':12,'Severity':'Medium'},'37':{'SubCategoryID':33,'CategoryID':12,'Severity':'High'},'38':{'SubCategoryID':34,'CategoryID':12,'Severity':'High'},
                '39':{'SubCategoryID':35,'CategoryID':12,'Severity':'High'},'40':{'SubCategoryID':36,'CategoryID':12,'Severity':'Medium'},'41':{'SubCategoryID':38,'CategoryID':13,'Severity':'Medium'},
                '42':{'SubCategoryID':39,'CategoryID':13,'Severity':'Medium'},'43':{'SubCategoryID':40,'CategoryID':13,'Severity':'High'},'44':{'SubCategoryID':37,'CategoryID':14,'Severity':'Medium'},
                '45':{'SubCategoryID':41,'CategoryID':15,'Severity':'Medium'},'46':{'SubCategoryID':42,'CategoryID':15,'Severity':'Medium'},'47':{'SubCategoryID':43,'CategoryID':15,'Severity':'Medium'}
            }
        })">
    <table>
        <tr>
            <td colspan="3">
                <style>
                    [field*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                        color: rgb(204, 255, 153);
                    }
                </style>
                <h1>EHS No. <field field="tables['EHS'].records[0].fields['ID']"></h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field field="tables['EHS'].records[0].fields['EHSDate']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Shift</strong>
                    <field field="tables['EHS'].records[0].fields['Shift']" options="['1','2','3']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Auditor's Name</strong>
                    <field field="tables['EHS'].records[0].fields['AuditorID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Plant</strong>
                    <field field="tables['EHS'].records[0].fields['PlantID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field field="tables['EHS'].records[0].fields['DepartmentID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field field="tables['EHS'].records[0].fields['ZoneID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field field="tables['EHS'].records[0].fields['MachineID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Work Cell</strong>
                    <field field="tables['EHS'].records[0].fields['WorkCellID']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Tool No.</strong>
                    <field field="tables['EHS'].records[0].fields['MoldNo']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor</strong>
                    <field field="tables['EHS'].records[0].fields['SupervisorID']">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Requirement</h2>
            </td>
            <td>
                <h2>Select</h2>
            </td>
        </tr>
        <tr ng-repeat-start="rec in tables['EHSLine'].records track by $index" class="header">
            <td colspan="3">
                <h3>
                    {{( rec.fields['CategoryID'].value != tables['EHSLine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].getOptionText(rec.fields['CategoryID'].value)  : ''}}
                </h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end>
            <td>
                <span>
                    {{$index + 1}}. {{rec.fields['SubCategoryID'].getOptionText(rec.fields['SubCategoryID'].value)}}
                </span>
            </td>
            <td>
                <imageupload field="rec.fields['ImageURL']"></imageupload>
            </td>
            <td>
                <field field="rec.fields['Compliant']" options="['Satisfactory','Unsafe Condition','Unsafe Act','Both']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>Comments</h3>
            </td>
        </tr>
        <!-- extra tr makes sure the next (last) row is blue, becaue of the nth-of-type rule-->
        <tr></tr>
        <tr>
            <td colspan="2">
                <field field="tables['EHS'].records[0].fields['Comments']" multiline="true"></field><br />
            </td>
            <td>
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.executeQueries()">{{form.hasRecord ? "Update" : "Submit"}}</button>
            </td>
        </tr>
    </table>
</body>
</html>
