<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Job Safety Risk Assessment</title>

    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    
    <link rel="stylesheet" href="/css/Normalize.css" />
    <link rel="stylesheet" href="/css/Checklist.css" />

    <style>
        h1 {
            color: lightpink;
        }

        h3 {
            background-color: lightpink;
        }

        strong {
            background-color: lightpink;
        }

        .rowheader {
            background-color: lightpink !important;
            border: dashed 1px black !important;
        }

            .rowheader td {
                padding-top: 5px;
                padding-bottom: 5px;
            }
    </style>
</head>
<body ng-app="wcm"
      ng-controller="Form"
      ng-init="initialize('JSRA', 'WCM', ['JSRA', 'JSRALine', 'JSRAPPERequirements', 'JSRAPersonnel'], {'JSRALine' : 56},
        {'JSRALine':
            {
            0:{'CategoryID':1,'SubCategoryID':1,'DetailsID':1},1:{'CategoryID':1,'SubCategoryID':2,'DetailsID':2},2:{'CategoryID':1,'SubCategoryID':3,'DetailsID':3},
            3:{'CategoryID':1,'SubCategoryID':4,'DetailsID':4},4:{'CategoryID':1,'SubCategoryID':5,'DetailsID':5},5:{'CategoryID':1,'SubCategoryID':6,'DetailsID':6},
            6:{'CategoryID':1,'SubCategoryID':7,'DetailsID':7},7:{'CategoryID':1,'SubCategoryID':8,'DetailsID':8},8:{'CategoryID':1,'SubCategoryID':9,'DetailsID':9},
            9:{'CategoryID':1,'SubCategoryID':10,'DetailsID':10},10:{'CategoryID':1,'SubCategoryID':11,'DetailsID':11},11:{'CategoryID':1,'SubCategoryID':12,'DetailsID':12},
            12:{'CategoryID':1,'SubCategoryID':13,'DetailsID':13},13:{'CategoryID':2,'SubCategoryID':14,'DetailsID':14},14:{'CategoryID':2,'SubCategoryID':15,'DetailsID':15},
            15:{'CategoryID':2,'SubCategoryID':16,'DetailsID':16},16:{'CategoryID':2,'SubCategoryID':17,'DetailsID':17},17:{'CategoryID':2,'SubCategoryID':18,'DetailsID':18},
            18:{'CategoryID':2,'SubCategoryID':19,'DetailsID':19},19:{'CategoryID':2,'SubCategoryID':20,'DetailsID':20},20:{'CategoryID':2,'SubCategoryID':21,'DetailsID':21},
            21:{'CategoryID':2,'SubCategoryID':22,'DetailsID':22},22:{'CategoryID':2,'SubCategoryID':23,'DetailsID':23},23:{'CategoryID':2,'SubCategoryID':24,'DetailsID':24},
            24:{'CategoryID':2,'SubCategoryID':25,'DetailsID':25},25:{'CategoryID':2,'SubCategoryID':26,'DetailsID':26},26:{'CategoryID':2,'SubCategoryID':27,'DetailsID':27},
            27:{'CategoryID':2,'SubCategoryID':28,'DetailsID':28},28:{'CategoryID':2,'SubCategoryID':29,'DetailsID':29},29:{'CategoryID':3,'SubCategoryID':30,'DetailsID':30},
            30:{'CategoryID':3,'SubCategoryID':31,'DetailsID':31},31:{'CategoryID':3,'SubCategoryID':32,'DetailsID':32},32:{'CategoryID':3,'SubCategoryID':33,'DetailsID':33},
            33:{'CategoryID':4,'SubCategoryID':34,'DetailsID':34},34:{'CategoryID':4,'SubCategoryID':35,'DetailsID':35},35:{'CategoryID':4,'SubCategoryID':36,'DetailsID':36},
            36:{'CategoryID':4,'SubCategoryID':37,'DetailsID':37},37:{'CategoryID':4,'SubCategoryID':38,'DetailsID':38},38:{'CategoryID':4,'SubCategoryID':39,'DetailsID':39},
            39:{'CategoryID':4,'SubCategoryID':40,'DetailsID':40},40:{'CategoryID':4,'SubCategoryID':41,'DetailsID':41},41:{'CategoryID':4,'SubCategoryID':42,'DetailsID':42},
            42:{'CategoryID':4,'SubCategoryID':43,'DetailsID':43},43:{'CategoryID':4,'SubCategoryID':44,'DetailsID':44},44:{'CategoryID':4,'SubCategoryID':45,'DetailsID':45},
            45:{'CategoryID':4,'SubCategoryID':46,'DetailsID':46},46:{'CategoryID':4,'SubCategoryID':47,'DetailsID':47},47:{'CategoryID':4,'SubCategoryID':48,'DetailsID':48},
            48:{'CategoryID':4,'SubCategoryID':49,'DetailsID':49},49:{'CategoryID':4,'SubCategoryID':50,'DetailsID':50},50:{'CategoryID':4,'SubCategoryID':51,'DetailsID':51},
            51:{'CategoryID':4,'SubCategoryID':52,'DetailsID':52},52:{'CategoryID':4,'SubCategoryID':53,'DetailsID':53},53:{'CategoryID':4,'SubCategoryID':54,'DetailsID':54},
            54:{'CategoryID':4,'SubCategoryID':55,'DetailsID':55},55:{'CategoryID':4,'SubCategoryID':56,'DetailsID':56}
            }
        })">
    <table>
        <tr>
            <style>
                [field*='[\'ID\']'] input {
                    background-color: inherit;
                    border: none;
                    color: lightpink;
                    width: 3em;
                }
            </style>
            <td colspan="16"><h1>JSRA Number <field field="tables['JSRA'].records[0].fields['ID']"></field></h1></td>
        </tr>
        <tr>
            <td colspan="16">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field field="tables['JSRA'].records[0].fields['JSRADate']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Plant</strong>
                    <field field="tables['JSRA'].records[0].fields['PlantID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field field="tables['JSRA'].records[0].fields['DepartmentID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field field="tables['JSRA'].records[0].fields['ZoneID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Work Cell</strong>
                    <field field="tables['JSRA'].records[0].fields['WorkCellID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field field="tables['JSRA'].records[0].fields['MachineID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Shift</strong>
                    <field field="tables['JSRA'].records[0].fields['Shift']" options="[1,2,3]"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor</strong>
                    <field field="tables['JSRA'].records[0].fields['SupervisorID']"></field>
                </div>
                <style>
                    [field='TaskAnalyzed'] textarea {
                        height: 1.7em;
                        width: 9.8em;
                    }
                </style>

                <div class="inputPlusLabel">
                    <strong>Task Analyzed</strong>
                    <field field="tables['JSRA'].records[0].fields['TaskAnalyzed']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Total Hours</strong>
                    <field field="tables['JSRA'].records[0].fields['TotalHours']"></field>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="16" class="rowheader">Step 1 - Determine what risks are present while performing task</td>
        </tr>
        <tr>
            <td colspan="6"><h2>Risk Type</h2></td>
            <td colspan="8"><h2>Risk Description</h2></td>
            <td colspan="2"><h2>Applies</h2></td>
        </tr>
        <tr ng-repeat-start="rec in tables['JSRALine'].records track by $index" class="header">
            <td colspan="16">
                <h3>
                    {{( rec.fields['CategoryID'].value != tables['JSRALine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].getOptionText(rec.fields['CategoryID'].value)  : ""}}
                </h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end>
            <td colspan="6">
                {{rec.fields['SubCategoryID'].getOptionText(rec.fields['SubCategoryID'].value)}}
            </td>
            <td colspan="8">
                {{rec.fields['DetailsID'].getOptionText(rec.fields['DetailsID'].value)}}
            </td>
            <td colspan="2">
                <field field="rec.fields['Applies']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="16" class="rowheader">Step 2 - Determine risk score and identify a corrective action</td>
        </tr>
        <tr>
            <td colspan="16"><h2>Risks Identified</h2></td>
        </tr>
        <tr ng-repeat-start="rec in tables['JSRALine'].records track by $index" ng-show="rec.fields['Applies'].value == 1">
            <td colspan="16">
                <h3>{{$index + 1}}. {{rec.fields['SubCategoryID'].getOptionText(rec.fields['SubCategoryID'].value)}}</h3>
            </td>
        </tr>
        <tr class="rowheader" ng-show="rec.fields['Applies'].value == 1">
            <td colspan="4">Controllable</td>
            <td colspan="4">Pre-Severity</td>
            <td colspan="4">Pre-Probability</td>
            <td colspan="4">Pre-Mitigation</td>
        </tr>
        <tr ng-show="rec.fields['Applies'].value == 1">
            <td colspan="4"><field field="rec.fields['Controllable']"></field></td>
            <td colspan="4"><field field="rec.fields['PreSeverity']" options='[{ k :1 , v : "No near misses have occurred, injury is unlikely"},{ k : 2 , v : "Near miss has occurred / first aid possible"},{ k : 3 , v : "First aid has occurred / recordable is possible"},{ k : 4 , v : "Recordable injury has occurred / serious injury is possible"},{ k : 5 , v : "Serious injury resulting in lost time has occurred"}]'></field></td>
            <td colspan="4"><field field="rec.fields['PreProbability']" options='[{ k :1 , v : "Worker is not subjected to any risk of injury"},{ k : 2 , v : "There is a slight chance of injury to the worker"},{ k : 3 , v : "The worker will be injured if no counter-measures are implemented"}]'></field></td>
            <td colspan="4"><field field="rec.fields['PreMitigation']" options='[{ k :1 , v : "Controls meet or exceed standards"},{ k : 2 , v : "Current controls are not sufficient"},{ k : 3 , v : "No controls exist - operator is exposed to hazard"}]'></field></td>
        </tr>
        <tr class="rowheader" ng-show="rec.fields['Applies'].value == 1">
            <td colspan="4">Corrective Action</td>
            <td colspan="4">Post-Severity</td>
            <td colspan="4">Post-Probability</td>
            <td colspan="4">Post-Mitigation</td>
        </tr>
        <tr ng-repeat-end ng-show="rec.fields['Applies'].value == 1">
            <td colspan="4"><field field="rec.fields['ActionTaken']"></field></td>
            <td colspan="4"><field field="rec.fields['PostSeverity']" options='[{ k :1 , v : "No near misses have occurred, injury is unlikely"},{ k : 2 , v : "Near miss has occurred / first aid possible"},{ k : 3 , v : "First aid has occurred / recordable is possible"},{ k : 4 , v : "Recordable injury has occurred / serious injury is possible"},{ k : 5 , v : "Serious injury resulting in lost time has occurred"}]'></field></td>
            <td colspan="4"><field field="rec.fields['PostProbability']" options='[{ k :1 , v : "Worker is not subjected to any risk of injury"},{ k : 2 , v : "There is a slight chance of injury to the worker"},{ k : 3 , v : "The worker will be injured if no counter-measures are implemented"}]'></field></td>
            <td colspan="4"><field field="rec.fields['PostMitigation']" options='[{ k :1 , v : "Controls meet or exceed standards"},{ k : 2 , v : "Current controls are not sufficient"},{ k : 3 , v : "No controls exist - operator is exposed to hazard"}]'></field></td>
        </tr>
        <tr>
            <td colspan="16">
                <h2>Permits</h2>
            </td>
        </tr>
        <tr class="rowheader">
            <td colspan="10">
                Type
            </td>
            <td colspan="3">
                Required
            </td>
            <td colspan="3">
                Acquired
            </td>
        </tr>
        <tr>
            <td colspan="10">Hot Work</td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['HotWorkPermitRequired']"></field></td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['HotWorkPermitAcquired']"></field></td>
        </tr>
        <tr>
            <td colspan="10">Electrical</td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['ElectricalPermitRequired']"></field></td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['ElectricalPermitAcquired']"></field></td>
        </tr>
        <tr>
            <td colspan="10">Confined Space</td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['ConfinedSpacePermitRequired']"></field></td>
            <td colspan="3"><field field="tables['JSRA'].records[0].fields['ConfinedSpacePermitAcquired']"></field></td>
        </tr>
        <tr>
            <td colspan="16">
                <h2>PPE Requirements</h2>
            </td>
        </tr>
        <tr class="rowheader">
            <td colspan="16">
                PPE Type
            </td>
        </tr>
        <tr ng-repeat="rec in tables['JSRAPPERequirements'].records">
            <td colspan="16">
                <field field="rec.fields['PPEID']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="16">
                <button ng-click="tables['JSRAPPERequirements'].copyRecord(0)">Add PPE</button>
            </td>
        </tr>
        <tr>
            <td colspan="16">
                <h2>Persons Involved</h2>
            </td>
        </tr>
        <tr class="rowheader">
            <td colspan="5">
                Name
            </td>
            <td colspan="5">
                Signature
            </td>
            <td colspan="2">
                Time In
            </td>
            <td colspan="2">
                Time Out
            </td>
            <td colspan="2">
                Hours
            </td>
        </tr>
        <tr ng-repeat="rec in tables['JSRAPersonnel'].records">
            <td colspan="5">
                <field field="rec.fields['Name']"></field>
            </td>
            <td colspan="5">
                <field field="rec.fields['Signature']"></field>
            </td>
            <td colspan="2">
                <field field="rec.fields['TimeIn']"></field>
            </td>
            <td colspan="2">
                <field field="rec.fields['TimeOut']"></field>
            </td>
            <td colspan="2">
                {{(rec.fields['TimeOut'].value - rec.fields['TimeIn'].value)/(1000*60*60)  | number : 2}}
            </td>
        </tr>
        <tr>
            <td colspan="16">
                <button ng-click="tables['JSRAPersonnel'].copyRecord(0)">Add Person</button>
            </td>
        </tr>
        <tr>
            <td colspan="16">
                <h2>Supervisor</h2>
            </td>
        </tr>
        <tr class="rowheader">
            <td colspan="6">
                Supervisor
            </td>
            <td colspan="5">
                Signature
            </td>
            <td colspan="5">
                Date
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <field field="tables['JSRA'].records[0].fields['SupervisorName']"></field>
            </td>
            <td colspan="5">
                <field field="tables['JSRA'].records[0].fields['SupervisorSignature']"></field>
            </td>
            <td colspan="5">
                <field field="tables['JSRA'].records[0].fields['SupervisorDate']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="16">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.executeQueries()">{{form.hasRecord ? "Update" : "Submit"}}</button>
            </td>
        </tr>
    </table>
</body>
</html>
