<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/Checklist.css" />

    <title>Layered Process Audit</title>

    <script>
        /*
        1 Molding
        2 IP Assembly
        3 Foam
        4 Thermoforming
        5 Deco
        6 Sequencing
        7 Other
        
        Assembly -> Sequencing
        Molding/IP Mfg -> Molding, Foam, Thermoforming
        */
        $(document.body).ready(function () {
            var scope = angular.element($("[ng-app='wcm']")).scope();
            scope.showLines = [];
            scope.showList = [
                [0],
                [1, 2, 3, 4, 6], [1, 2, 3, 4, 6], [1, 2, 3, 4, 6], [1, 2, 3, 4, 5, 6],
                [5], [1, 2, 3, 4, 5, 6], [5], [5],
                [5], [2], [2], [2, 6],
                [5], [5], [5], [5],
                [1, 3, 4, 6], [], [1, 3, 4, 6], [1, 3, 4],
                [1, 2, 3, 4, 6], [1, 3, 4], [1, 3, 4], [1, 2, 3, 4, 6],
                [1, 3, 4, 6], [1, 3, 4], [1, 3, 4], [1, 3, 4, 6],
                [1, 3, 4, 6], [2], [2], [2],
                [5], [5], [5], [5],
                [5], [5], [5], [5],
                [5], [5], [5], [5],
                [5], [5], [5], [5],
                [5], [5], [5], [5]
            ]
            scope.$apply(
                function () {
                    scope.$watch("tables['LPA'].records[0].fields['DepartmentID'].value", function (n, o) {
                        scope.showLines = scope.showList.map(function (el) { return el.indexOf(Number(n)) > -1; });
                    });
                });
        });
    </script>
    <style>
        h1{ 
	        color: limegreen;
        }

        h3{
	        background-color: limegreen;
        }

        strong{
	        background-color: limegreen;
        }
    </style>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="form.initialize('LPA', 'Safety', ['LPA', 'LPALine'], 'vLPA', {'LPALine' : 52}, 
    [{'table':'LPALine','record':0,'field':'CategoryID','value':17},{'table':'LPALine','record':1,'field':'CategoryID','value':17},
    {'table':'LPALine','record':2,'field':'CategoryID','value':18},{'table':'LPALine','record':3,'field':'CategoryID','value':18},
    {'table':'LPALine','record':4,'field':'CategoryID','value':18},{'table':'LPALine','record':5,'field':'CategoryID','value':19},
    {'table':'LPALine','record':6,'field':'CategoryID','value':19},{'table':'LPALine','record':7,'field':'CategoryID','value':19},
    {'table':'LPALine','record':8,'field':'CategoryID','value':19},{'table':'LPALine','record':9,'field':'CategoryID','value':20},
    {'table':'LPALine','record':10,'field':'CategoryID','value':20},{'table':'LPALine','record':11,'field':'CategoryID','value':20},
    {'table':'LPALine','record':12,'field':'CategoryID','value':20},{'table':'LPALine','record':13,'field':'CategoryID','value':20},
    {'table':'LPALine','record':14,'field':'CategoryID','value':20},{'table':'LPALine','record':15,'field':'CategoryID','value':20},
    {'table':'LPALine','record':16,'field':'CategoryID','value':20},{'table':'LPALine','record':17,'field':'CategoryID','value':20},
    {'table':'LPALine','record':18,'field':'CategoryID','value':20},{'table':'LPALine','record':19,'field':'CategoryID','value':20},
    {'table':'LPALine','record':20,'field':'CategoryID','value':20},{'table':'LPALine','record':21,'field':'CategoryID','value':20},
    {'table':'LPALine','record':22,'field':'CategoryID','value':20},{'table':'LPALine','record':23,'field':'CategoryID','value':21},
    {'table':'LPALine','record':24,'field':'CategoryID','value':21},{'table':'LPALine','record':25,'field':'CategoryID','value':21},
    {'table':'LPALine','record':26,'field':'CategoryID','value':21},{'table':'LPALine','record':27,'field':'CategoryID','value':21},
    {'table':'LPALine','record':28,'field':'CategoryID','value':21},{'table':'LPALine','record':29,'field':'CategoryID','value':21},
    {'table':'LPALine','record':30,'field':'CategoryID','value':21},{'table':'LPALine','record':31,'field':'CategoryID','value':21},
    {'table':'LPALine','record':32,'field':'CategoryID','value':22},{'table':'LPALine','record':33,'field':'CategoryID','value':22},
    {'table':'LPALine','record':34,'field':'CategoryID','value':22},{'table':'LPALine','record':35,'field':'CategoryID','value':22},
    {'table':'LPALine','record':36,'field':'CategoryID','value':23},{'table':'LPALine','record':37,'field':'CategoryID','value':23},
    {'table':'LPALine','record':38,'field':'CategoryID','value':23},{'table':'LPALine','record':39,'field':'CategoryID','value':23},
    {'table':'LPALine','record':40,'field':'CategoryID','value':24},{'table':'LPALine','record':41,'field':'CategoryID','value':25},
    {'table':'LPALine','record':42,'field':'CategoryID','value':25},{'table':'LPALine','record':43,'field':'CategoryID','value':25},
    {'table':'LPALine','record':44,'field':'CategoryID','value':25},{'table':'LPALine','record':45,'field':'CategoryID','value':25},
    {'table':'LPALine','record':46,'field':'CategoryID','value':25},{'table':'LPALine','record':47,'field':'CategoryID','value':26},
    {'table':'LPALine','record':48,'field':'CategoryID','value':26},{'table':'LPALine','record':49,'field':'CategoryID','value':26},
    {'table':'LPALine','record':50,'field':'CategoryID','value':27},{'table':'LPALine','record':51,'field':'CategoryID','value':27},
    {'table':'LPALine','record':0,'field':'SubCategoryID','value':91},{'table':'LPALine','record':1,'field':'SubCategoryID','value':92},
    {'table':'LPALine','record':2,'field':'SubCategoryID','value':93},{'table':'LPALine','record':3,'field':'SubCategoryID','value':94},
    {'table':'LPALine','record':4,'field':'SubCategoryID','value':142},{'table':'LPALine','record':5,'field':'SubCategoryID','value':95},
    {'table':'LPALine','record':6,'field':'SubCategoryID','value':109},{'table':'LPALine','record':7,'field':'SubCategoryID','value':110},
    {'table':'LPALine','record':8,'field':'SubCategoryID','value':111},{'table':'LPALine','record':9,'field':'SubCategoryID','value':112},
    {'table':'LPALine','record':10,'field':'SubCategoryID','value':113},{'table':'LPALine','record':11,'field':'SubCategoryID','value':114},
    {'table':'LPALine','record':12,'field':'SubCategoryID','value':115},{'table':'LPALine','record':13,'field':'SubCategoryID','value':116},
    {'table':'LPALine','record':14,'field':'SubCategoryID','value':117},{'table':'LPALine','record':15,'field':'SubCategoryID','value':118},
    {'table':'LPALine','record':16,'field':'SubCategoryID','value':96},{'table':'LPALine','record':17,'field':'SubCategoryID','value':97},
    {'table':'LPALine','record':18,'field':'SubCategoryID','value':98},{'table':'LPALine','record':19,'field':'SubCategoryID','value':99},
    {'table':'LPALine','record':20,'field':'SubCategoryID','value':100},{'table':'LPALine','record':21,'field':'SubCategoryID','value':101},
    {'table':'LPALine','record':22,'field':'SubCategoryID','value':102},{'table':'LPALine','record':23,'field':'SubCategoryID','value':103},
    {'table':'LPALine','record':24,'field':'SubCategoryID','value':104},{'table':'LPALine','record':25,'field':'SubCategoryID','value':105},
    {'table':'LPALine','record':26,'field':'SubCategoryID','value':106},{'table':'LPALine','record':27,'field':'SubCategoryID','value':107},
    {'table':'LPALine','record':28,'field':'SubCategoryID','value':108},{'table':'LPALine','record':29,'field':'SubCategoryID','value':119},
    {'table':'LPALine','record':30,'field':'SubCategoryID','value':120},{'table':'LPALine','record':31,'field':'SubCategoryID','value':121},
    {'table':'LPALine','record':32,'field':'SubCategoryID','value':122},{'table':'LPALine','record':33,'field':'SubCategoryID','value':123},
    {'table':'LPALine','record':34,'field':'SubCategoryID','value':124},{'table':'LPALine','record':35,'field':'SubCategoryID','value':125},
    {'table':'LPALine','record':36,'field':'SubCategoryID','value':126},{'table':'LPALine','record':37,'field':'SubCategoryID','value':127},
    {'table':'LPALine','record':38,'field':'SubCategoryID','value':128},{'table':'LPALine','record':39,'field':'SubCategoryID','value':129},
    {'table':'LPALine','record':40,'field':'SubCategoryID','value':130},{'table':'LPALine','record':41,'field':'SubCategoryID','value':131},
    {'table':'LPALine','record':42,'field':'SubCategoryID','value':132},{'table':'LPALine','record':43,'field':'SubCategoryID','value':133},
    {'table':'LPALine','record':44,'field':'SubCategoryID','value':134},{'table':'LPALine','record':45,'field':'SubCategoryID','value':135},
    {'table':'LPALine','record':46,'field':'SubCategoryID','value':136},{'table':'LPALine','record':47,'field':'SubCategoryID','value':137},
    {'table':'LPALine','record':48,'field':'SubCategoryID','value':138},{'table':'LPALine','record':49,'field':'SubCategoryID','value':139},
    {'table':'LPALine','record':50,'field':'SubCategoryID','value':140},{'table':'LPALine','record':51,'field':'SubCategoryID','value':141}])">
    <table>
        <tr>
            <td colspan="3">
                <style>
                    [name*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                        color: limegreen;
                    }
                </style>
                <h1>Layered Process Audit No. <field name="tables['LPA'].records[0].fields['ID']"></h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field name="tables['LPA'].records[0].fields['AuditDate']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Auditor's Name</strong>
                    <field name="tables['LPA'].records[0].fields['AuditorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor's Name</strong>
                    <field name="tables['LPA'].records[0].fields['SupervisorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Operator(s)</strong>
                    <style>
                        [name*='Operator'] textarea {
                            height: 1.7em;
                            width: 9.8em;
                        }
                    </style>
                    <field name="tables['LPA'].records[0].fields['Operator']" />
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field name="tables['LPA'].records[0].fields['DepartmentID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field name="tables['LPA'].records[0].fields['ZoneID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field name="tables['LPA'].records[0].fields['MachineID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Tool No.</strong>
                    <field name="tables['LPA'].records[0].fields['MoldNo']"></field>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 65%;">
                <h2>Checks</h2>
            </td>
            <td style="width: 35%;">
                <h2>Remarks</h2>
            </td>
        </tr>
        <tr ng-repeat-start="rec in tables['LPALine'].records track by $index" ng-show="!form.hasRecord ? showLines[$index + 1] : (rec.fields['Rating'].value != undefined)" class="header">
            <td colspan="3">
                <h3>{{( rec.fields['CategoryID'].value != tables['LPALine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].options[rec.fields['CategoryID'].value]  : ''}}</h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end ng-show="!form.hasRecord ? showLines[$index + 1] : (rec.fields['Rating'].value != undefined)">
            <td>
                <span>1.{{$index + 1}}. {{rec.fields['SubCategoryID'].options[rec.fields['SubCategoryID'].value]}}</span>
            </td>
            <td>
                <field name="rec.fields['Rating']" options="{ '-1' : 'N/A', '0' : 'No', '1' : 'Yes' }"></field><!-- onchange="$(this).parent().next().children().first().attr('required', $(this).val() == 0);" -->
            </td>
            <td>
                <field name="rec.fields['Remarks']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>Comments</h3>
            </td>
        </tr>
        <tr></tr>
        <!-- makes sure the next (last) row is blue, becaue of the nth-of-type rule-->
        <tr>
            <td colspan="2">
                <textarea maxlength="1000" ng-model="fields['Comments']" rows="6" cols="50" placeholder="Comments"></textarea><br />
            </td>
            <td>
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
