<!DOCTYPE html>
<html>
<head>
    

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    
    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/Checklist.css" />

    <title>Layered Process Audit</title>

    <script>
        /*
        1 Molding
        2 IP Assembly
        3 Foam
        4 Thermoforming
        5 Deco
        6 Sequencing
        7 Other
        
        Assembly -> Sequencing
        Molding/IP Mfg -> Molding, Foam, Thermoforming
        */
        document.addEventListener("DOMContentLoaded", function () {
            var scope = angular.element(document.querySelector("[ng-app='wcm']")).scope();

            scope.showList = {
                1: [1, 2, 3, 4, 6, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
                2: [1, 2, 3, 4, 6, 10, 11, 12, 21, 24, 30, 31, 32],
                3: [1, 2, 3, 4, 6, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
                4: [1, 2, 3, 4, 6, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
                5: [4, 5, 6, 7, 8, 9, 13, 14, 15, 16, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52],
                6: [1, 2, 3, 4, 6, 12, 17, 21, 24, 25, 28, 29]
            };
            scope.showLines = [];
            scope.$apply(
                function () {
                    scope.$watch("tables['LPA'].records[0].fields['DepartmentID'].value", function (n, o) {
                        scope.showLines = scope.showList[n];
                    });
                });
        });
    </script>
    <style>
        h1{ 
	        color: rgb(204, 255, 204);
        }

        h3{
	        background-color: rgb(204, 255, 204);
        }

        strong{
	        background-color: rgb(204, 255, 204);
        }
    </style>
</head>
<body ng-app="wcm"
      ng-controller="Form"
      ng-init="initialize('LPA', 'WCM', ['LPA', 'LPALine'], {'LPALine' : 52},
    {'LPALine' : {
        0 : { 'CategoryID' : 17, 'SubCategoryID' : 91 }, 1 : { 'CategoryID' : 17, 'SubCategoryID' : 92 }, 2 : { 'CategoryID' : 18, 'SubCategoryID' : 93 },
        3 : { 'CategoryID' : 18, 'SubCategoryID' : 94 }, 4 : { 'CategoryID' : 18, 'SubCategoryID' : 142 }, 5 : { 'CategoryID' : 19, 'SubCategoryID' : 95 },
      6 : { 'CategoryID' : 19, 'SubCategoryID' : 109 }, 7 : { 'CategoryID' : 19, 'SubCategoryID' : 110 }, 8 : { 'CategoryID' : 19, 'SubCategoryID' : 111 },
      9 : { 'CategoryID' : 20, 'SubCategoryID' : 112 }, 10 : { 'CategoryID' : 20, 'SubCategoryID' :113 }, 11 : { 'CategoryID' : 20, 'SubCategoryID' : 114 },
      12 : { 'CategoryID' : 20, 'SubCategoryID' : 115 }, 13 : { 'CategoryID' : 20, 'SubCategoryID' : 116 }, 14 : { 'CategoryID' : 20, 'SubCategoryID' : 117 },
      15 : { 'CategoryID' : 20, 'SubCategoryID' : 118 }, 16 : { 'CategoryID' : 20, 'SubCategoryID' : 96 }, 17 : { 'CategoryID' : 20, 'SubCategoryID' : 97 },
      18 : { 'CategoryID' : 20, 'SubCategoryID' : 98 }, 19 : { 'CategoryID' : 20, 'SubCategoryID' : 99 }, 20 : { 'CategoryID' : 20, 'SubCategoryID' :100 },
      21 : { 'CategoryID' : 20, 'SubCategoryID' : 101 }, 22 : { 'CategoryID' : 20, 'SubCategoryID' : 102 }, 23 : { 'CategoryID' : 21, 'SubCategoryID' : 103 },
      24 : { 'CategoryID' : 21, 'SubCategoryID' : 104 }, 25 : { 'CategoryID' : 21, 'SubCategoryID' : 105 }, 26 : { 'CategoryID' : 21, 'SubCategoryID' : 106 },
      27 : { 'CategoryID' : 21, 'SubCategoryID' : 107 }, 28 : { 'CategoryID' : 21, 'SubCategoryID' : 108 }, 29 : { 'CategoryID' : 21, 'SubCategoryID' : 119 },
      30 : { 'CategoryID' : 21, 'SubCategoryID' : 120 }, 31 : { 'CategoryID' : 21, 'SubCategoryID' : 121 }, 32 : { 'CategoryID' : 22, 'SubCategoryID' : 122 },
      33 : { 'CategoryID' : 22, 'SubCategoryID' : 123 }, 34 : { 'CategoryID' : 22, 'SubCategoryID' : 124 }, 35 : { 'CategoryID' : 22, 'SubCategoryID' : 125 },
      36 : { 'CategoryID' : 23, 'SubCategoryID' : 126 }, 37 : { 'CategoryID' : 23, 'SubCategoryID' : 127 }, 38 : { 'CategoryID' : 23, 'SubCategoryID' : 128 },
      39 : { 'CategoryID' : 23, 'SubCategoryID' : 129 }, 40 : { 'CategoryID' : 24, 'SubCategoryID' : 130 }, 41 : { 'CategoryID' : 25, 'SubCategoryID' : 131 },
      42 : { 'CategoryID' : 25, 'SubCategoryID' : 132 }, 43 : { 'CategoryID' : 25, 'SubCategoryID' : 133 }, 44 : { 'CategoryID' : 25, 'SubCategoryID' : 134 },
      45 : { 'CategoryID' : 25, 'SubCategoryID' : 135 }, 46 : { 'CategoryID' : 25, 'SubCategoryID' : 136 }, 47 : { 'CategoryID' : 26, 'SubCategoryID' : 137 },
      48 : { 'CategoryID' : 26, 'SubCategoryID' : 138 }, 49 : { 'CategoryID' : 26, 'SubCategoryID' : 139 }, 50 : { 'CategoryID' : 27, 'SubCategoryID' : 140 },
      51 : { 'CategoryID' : 27, 'SubCategoryID' : 141 }
      }
    })">
    <table>
        <tr>
            <td colspan="3">
                <style>
                    [field*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                        color: rgb(204, 255, 204);
                    }
                </style>
                <h1>Layered Process Audit No. <field field="tables['LPA'].records[0].fields['ID']"></h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field field="tables['LPA'].records[0].fields['AuditDate']">
                </div>
                <div class="inputPlusLabel">
                    <strong>Auditor's Name</strong>
                    <field field="tables['LPA'].records[0].fields['AuditorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor's Name</strong>
                    <field field="tables['LPA'].records[0].fields['SupervisorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Operator(s)</strong>
                    <style>
                        [field='Operator'] textarea {
                            height: 1.7em;
                            width: 9.8em;
                        }
                    </style>
                    <field field="tables['LPA'].records[0].fields['Operator']" />
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field field="tables['LPA'].records[0].fields['DepartmentID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field field="tables['LPA'].records[0].fields['ZoneID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field field="tables['LPA'].records[0].fields['MachineID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Tool No.</strong>
                    <field field="tables['LPA'].records[0].fields['MoldNo']"></field>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width: 65%;">
                <h2>Checks</h2>
            </td>
            <td style="width: 35%;">
                <h2>Remarks</h2>
            </td>
        </tr>
        <tr ng-repeat-start="rec in tables['LPALine'].records track by $index" ng-show="!form.hasRecord ? showLines[$index + 1] : (rec.fields['Rating'].value != undefined)" class="header">
            <td colspan="3">
                <h3>{{( rec.fields['CategoryID'].value != tables['LPALine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].getOptionText(rec.fields['CategoryID'].value)  : ''}}</h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end ng-show="!form.hasRecord ? showLines.indexOf($index + 1) > -1 : (rec.fields['Rating'].value != undefined)">
            <td>
                <span>1.{{$index + 1}}. {{rec.fields['SubCategoryID'].getOptionText(rec.fields['SubCategoryID'].value)}}</span>
            </td>
            <td>
                <field field="rec.fields['Rating']" options="[{ k: -1, v: 'N/A'}, {k: 0, v: 'No'}, {k : 1, v: 'Yes' }]"></field>
            </td>
            <td>
                <field field="rec.fields['Remarks']" required="rec.fields['Rating'].value == 0" multiline="true"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>Comments</h3>
            </td>
        </tr>
        <tr></tr>
        <!-- makes sure the next (last) row is blue, becaue of the nth-of-type rule-->
        <tr>
            <td colspan="2">
                <textarea maxlength="1000" ng-model="fields['Comments']" rows="6" cols="50" ></textarea><br />
            </td>
            <td>
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.executeQueries()">{{form.hasRecord ? "Update" : "Submit"}}</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
