<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <style>
        h3 {
            padding: 0px;
            margin: 0px;
            font-size: 1em;
            font-weight: normal;
        }
    </style>

    <title>PM Tag</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="initialize('PM Tag', 'WCM', ['PMTags'])">
    <table>
        <tr>
            <td colspan="3" class="dkgrey whitetext"><h1>PM Tag Form</h1></td>
            <td class="ltgrey">
                <style>
                    [field*='[\'TagNo\']'] input {
                        background-color: inherit;
                        border: none;
                    }
                </style>
                <h2>Tag No <field field="fields['TagNo']"></field></h2>
            </td>
        </tr>
        <tr class="ltgrey">
            <td>Original Tag No</td>
            <td>Date Opened</td>
            <td>Date Completed</td>
            <td>Problem</td>
        </tr>
        <tr>
            <td><field field="fields['OldTagNo']"></field></td>
            <td><field field="fields['Date']"></field></td>
            <td><field field="fields['WorkCompletedDate']"></field></td>
            <td rowspan="7">
                <field field="fields['Problem']" multiline="true"></field>
            </td>
        </tr>
        <tr class="ltgrey">
            <td>Reported By</td>
            <td>Notes</td>
            <td>Department</td>
        </tr>
        <tr>
            <td><field field="fields['SignedBy']"></field></td>
            <td rowspan="5"><field field="fields['Notes']" multiline="true"></field></td>
            <td><field field="fields['DepartmentID']"></field></td>
            
        </tr>
        <tr class="ltgrey">
            <td>Completed By</td>
            <td>Zone</td>
        </tr>
        <tr>
            <td rowspan="3"><field field="fields['WorkCompletedBy']"></field></td>
            <td><field field="fields['ZoneID']"></field></td>
        </tr>
        <tr class="ltgrey">
            <!-- <td>Status</td> -->
            <td>Machine</td>
        </tr>
        <tr>
            <!-- <td><field field="fields['Status']" options="['Open','Complete','Missing']"></field></td> -->
            <td><field field="fields['MachineID']"></field></td>
        </tr>
        <tr class="ltgrey">
            <td colspan="4">Repair Description</td>
        </tr>
        <tr>
            <td colspan="4">
                <field field="fields['RepairDescription']" multiline="true"></field>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>