<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <link rel="stylesheet" href="css/h3normalize.css" />

    <title>PM Tag</title>
</head>

<body ng-app="wcm"
      ng-controller="Form"
      ng-init="setFormData('PM Tag');">
    <table>
        <tr>
            <td colspan="3" class="dkgrey whitetext"><h1>PM Tag Form</h1></td>
            <td class="ltgrey"><h2>Tag No {{hasRecord ? id  + " (Updating)" : " (New Form)"}}</h2></td>
        </tr>
        <tr class="ltgrey">
            <td>Original Tag No</td>
            <td>Date</td>
            <td>Department</td>
            <td>Problem</td>
        </tr>
        <tr>
            <td><input type="number" ng-model="fields['OldTagNo']" /></td>
            <td><input type="date" ng-model="fields['Date']" /></td>
            <td>
                <select ng-model="fields['Location']" ng-options="k as v for (k,v) in queries['Location'].options"></select>
            </td>
            <td rowspan="7">
                <textarea ng-model="fields['Problem']"></textarea>
            </td>
        </tr>
        <tr class="ltgrey">
            <td>Reported By</td>
            <td>Notes</td>
            <td>Zone</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="fields['SignedBy']" /></td>
            <td rowspan="5"><textarea ng-model="fields['Notes']"></textarea></td>
            <td>
                <select ng-model="fields['ZZone']" ng-options="k as v for (k,v) in queries['ZZone'].options"></select>
            </td>
        </tr>
        <tr class="ltgrey">
            <td>Completed By</td>
            <td>Machine</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="fields['WorkCompletedBy']" /></td>
            <td>
                <select ng-model="fields['EquipmentID']" ng-options="k as v for (k,v) in queries['EquipmentID'].options"></select>
            </td>
        </tr>
        <tr class="ltgrey">
            <td>Status</td>
            <td>Date Completed</td>
        </tr>
        <tr>
            <td><select ng-model="fields['Status']" ng-options='v as v for (k,v) in ["Open","Complete","Missing"]'></select></td>
            <td><input type="date" ng-model="fields['WorkCompletedDate']" /></td>
        </tr>
        <tr class="ltgrey">
            <td colspan="4">Repair Description</td>
        </tr>
        <tr>
            <td colspan="4">
                <textarea ng-model="fields['RepairDescription']"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="open()">Open</button>
                <button ng-click="clear()">Clear</button>
                <button ng-click="submit()" ng-show="!hasRecord">Submit</button>
                <button ng-click="update()" ng-show="hasRecord">Update</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>