<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <!-- <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script> -->
    <script src="/scripts/js/wcm.min.js"></script>
    <script src="/scripts/js/form.min.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <link rel="stylesheet" href="css/h3normalize.css" />

    <title>Quick Kaizen</title>
</head>

<body
    ng-app ="wcm"
    ng-controller="Form"
    ng-init="setFormData('Kaizen');">
    <table>
        <tr>
            <td style="width: 6%;"></td>
            <td style="width: 6%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2"><h2>{{id + (hasRecord ? " (Updating)" : " (New Form)")}}</h2></td>
            <td colspan="5" rowspan="3" class="dkgrey whitetext" style="text-align: center;"><h1>Quick Kaizen</h1></td>
            <td class="ltgrey">Department</td>
            <td colspan="2">
                <select ng-model="fields['DepartmentID']" ng-options="k as v for (k,v) in queries['DepartmentID'].options" required></select>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Zone</td>
            <td colspan="2">
                <select ng-model="fields['ZoneID']" ng-options="k as v for (k,v) in queries['ZoneID'].options" required></select>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Pillar</td>
            <td>
                <select ng-model="fields['Pillar']" ng-options='v as v for (k,v) in ["SA","CD","FI","WO","AM","PM","QA","LO","PD"]' required></select>
            </td>
            <td class="ltgrey">Machine</td>
            <td colspan="2">
                <select ng-model="fields['MachineID']" ng-options="k as v for (k,v) in queries['MachineID'].options"></select>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="height: 100px;"><textarea ng-model="fields['Plan']" placeholder="Plan" required></textarea></td>
            <td colspan="4" rowspan="2"><textarea ng-model="fields['Do']" placeholder="Do"></textarea></td>
        </tr>
        <tr>
            <td colspan="6" style="height: 100px;">
                <button type="button" onclick="clearSketch()">Clear</button>
                <input type="color" id="colorPicker" style="width: 30px; height: 20px;" />
                <label for="brushSize">Brush Size:</label>
                <input type="text" id="brushSize" placeholder="Size" value="2" />
                <canvas id="sketchArea" onmousemove="drawSketch()" ng-mouseleave="saveSketch($event);" style="border: 1px solid grey; cursor: crosshair;">Your browser does not support this sketch box.</canvas>
            </td>
        </tr>
        <tr style="height: 200px;">
            <td colspan="5"><textarea ng-model="fields['Act']" placeholder="Act"></textarea></td>
            <td colspan="5"><textarea ng-model="fields['Check']" placeholder="Check"></textarea></td>
        </tr>
        <tr class="ltgrey">
            <td colspan="2">Originator of the improvement</td>
            <td>Date</td>
            <td>Resp. Implementation</td>
            <td>Date of Implementation</td>
            <td>Costs</td>
            <td>Benefits</td>
            <td>Results</td>
            <td>Cost/Benefit</td>
            <td>Verification</td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2"><input type="text" ng-model="fields['Originator']" required="required" /></td>
            <td><input type="date" ng-model="fields['StartDate']" required="required" /></td>
            <td><input type="text" ng-model="fields['Responsible']" required="required" /></td>
            <td><input type="date" ng-model="fields['EndDate']" /></td>
            <td><input type="number" ng-model="fields['Costs']" /></td>
            <td><input type="number" ng-model="fields['Benefits']" /></td>
            <td><input type="text" ng-model="fields['Results']" /></td>
            <td><output ng-model="fields['CostBenefit']" for="Costs Benefits" /></td><!-- Cost/benefit -->
            <td><input type="text" ng-model="fields['Verification']" /></td>
        </tr>
        <tr>
            <td colspan="10">
                <button ng-click="open()">Open</button>
                <button ng-click="clear()">Clear</button>
                <button ng-click="submit()" ng-show="!hasRecord">Submit</button>
                <button ng-click="update()" ng-show="hasRecord">Update</button>
            </td>
        </tr>
    </table>
    </form>
    </body>
</html>