<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/sketch.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <link rel="stylesheet" href="css/h3normalize.css" />

    <title>Quick Kaizen</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="initialize('Quick Kaizen', 'WCM', ['Kaizens'])">
    <table>
        <tr>
            <td style="width: 6%;"></td>
            <td style="width: 6%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
            <td style="width: 11%;"></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2"><field field="fields['KaizenNumber']"></field></td>
            <td colspan="5" rowspan="3" class="dkgrey whitetext" style="text-align: center;"><h1>Quick Kaizen</h1></td>
            <td class="ltgrey">Department</td>
            <td colspan="2">
                <field field="fields['DepartmentID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Zone</td>
            <td colspan="2">
                <field field="fields['ZoneID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgrey">Pillar</td>
            <td>
                <field field="fields['Pillar']" options="['SA','CD','FI','WO','AM','PM','QA','LO','PD']"></field>
            </td>
            <td class="ltgrey">Machine</td>
            <td colspan="2">
                <field field="fields['MachineID']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="height: 100px;"><field field="fields['Plan']"></field></td>
            <td colspan="4" rowspan="2"><field field="fields['Do']"></field></td>
        </tr>
        <tr>
            <td colspan="6" style="height: 100px;">
                <sketch field="fields['SketchURL']"></sketch>
            </td>
        </tr>
        <tr style="height: 200px;">
            <td colspan="5"><field field="fields['Act']"></field></td>
            <td colspan="5"><field field="fields['Check']"></field></td>
        </tr>
        <tr class="ltgrey">
            <td colspan="2">Originator of the improvement</td>
            <td>Date</td>
            <td>Resp. Implementation</td>
            <td>Date of Implementation</td>
            <td>Costs</td>
            <td>Benefits</td>
            <td>Results</td>
            <td>Cost/Benefit</td>
            <td>Verification</td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2"><field field="fields['Originator']"></field></td>
            <td><field field="fields['StartDate']"></field></td>
            <td><field field="fields['Responsible']"></field></td>
            <td><field field="fields['EndDate']"></field></td>
            <td><field field="fields['Costs']"></field></td>
            <td><field field="fields['Benefits']"></field></td>
            <td><field field="fields['Results']"></field></td>
            <td>{{fields['Costs'].value/fields['Benefits'].value}}</td>
            <td><field field="fields['Verification']"></field></td>
        </tr>
        <tr>
            <td colspan="10">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
    </body>
</html>