<!DOCTYPE HTML>
<html>
<head>
    <title>SEWO</title>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <!-- <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script> -->
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <link rel="stylesheet" href="css/SEWO.css" />

    <title>SEWO</title>
</head>

<body ng-app="wcm"
      ng-controller="Form"
      ng-init="setFormData('SEWO');">
    <table style="width: 100%;">
        <tr>
            <td colspan="4" class="dkgrey whitetext">
                <h1>SEWO Report</h1>
            </td>
            <td colspan="3" class="ltgrey">
                <h2>
                    SEWO Number {{id + (hasRecord ? " (Updating)" : " (New Form)")}}
                </h2>
            </td>
        </tr>
        <tr>
            <td rowspan="23" class="vert-text green whitetext">
                P<br>
                L<br>
                A<br>
                N
            </td>
            <td class="ltgrey">Accident Type</td>
            <td>
                <select ng-model="fields['AccidentTypeID']" ng-options="k as v for (k,v) in queries['AccidentTypeID'].options" required>
                    <option value="">Accident Type</option>
                </select>
            </td>
            <td class="ltgrey">Sex</td>
            <td class="ltgrey">Position Type</td>
            <td>
                <select ng-model="fields['PlantID']" ng-options="k as v for (k,v) in queries['PlantID'].options" required>
                    <option value="">Plant</option>
                </select>
            </td>
            <td>
                <select ng-model="fields['DepartmentID']" ng-options="k as v for (k,v) in queries['DepartmentID'].options" required></select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" ng-model="fields['InjuredName']" placeholder="Name of the injured" required />
            </td>
            <td>
                <select ng-model="fields['Sex']" ng-options='v as v for (k,v) in  ["Male","Female"] '>
                    <option value="">Sex</option>
                </select>
            </td>
            <td>
                <select ng-model="fields['TypeOfPosition']" ng-options='v as v for (k,v) in  ["Permanent","Temporary"] '>
                    <option value="">Position Type</option>
                </select>
            </td>
            <td>
                <select ng-model="fields['ZoneID']" ng-options="k as v for (k,v) in queries['ZoneID'].options" required></select>
            </td>
            <td>
                <select ng-model="fields['MachineID']" ng-options="k as v for (k,v) in queries['MachineID'].options"></select>
            </td>
        </tr>
        <tr class="ltgrey">
            <td colspan="2">Injured Job</td>
            <td>Reported By</td>
            <td>Shift</td>
            <td>Injury Date</td>
            <td>Injury Time</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" ng-model="fields['InjuredJob']" placeholder="Job of the injured" />
            </td>
            <td>
                <input type="text" ng-model="fields['ReportedBy']" placeholder="Report made by" />
            </td>
            <td>
                <select ng-model="fields['Shift']" ng-options='v as v for (k,v) in  ["1","2","3"]' required></select>
            </td>
            <td>
                <input type="date" ng-model="fields['InjuryDate']" placeholder="Injury Date" required />
            </td>
            <td>
                <input type="time" ng-model="fields['InjuryTime']" placeholder="Time of incident" />
            </td>
        </tr>
        <tr>
            <td class="dkgreen whitetext">SW+1H Analysis(Event Description)</td>
            <td class="ltgrey">INJURY TYPE</td>
            <td colspan="2" class="dkgreen whitetext">BODY CHART</td>
            <td class="dkgreen whitetext">SKETCH</td>
            <td class="dkgreen whitetext">CORRECTIVE ACTION</td>
        </tr>
        <tr>
            <td>
                <textarea ng-model="fields['WWhat']" placeholder="WHAT(Nature and body part)"></textarea>
            </td>
            <td>
                <select ng-model="fields['InjuryTypeID']" ng-options="k as v for (k,v) in queries['InjuryTypeID'].options" required>
                    <option value=" ">
                        Injury Type
                    </option>
                </select>
            </td>
            <td colspan="2" rowspan="6">
                <img src="res/BodyChart.png" style="width: 200px; height: 200px;" />
                <select ng-model="fields['BodyPartID']" ng-options="k as v for (k,v) in queries['BodyPartID'].options" required>
                    <option value="">Body Part</option>
                </select>
            </td>
            <td rowspan="6">
                <button type="button" onclick="clearSketch()">Clear</button>
                <input type="color" id="colorPicker" style="width: 30px; height: 20px;" />
                <label for="brushSize">Brush Size:</label>
                <input type="text" id="brushSize" placeholder="Size" value="2" />
                <canvas id="sketchArea" onmousemove="drawSketch()" ng-mouseleave="saveSketch($event);" style="border: 1px solid grey; cursor: crosshair;">Your browser does not support this sketch box.</canvas>
            </td>
            <td rowspan="6">
                <textarea ng-model="fields['ActionDescription']" placeholder="Action Description"></textarea><!-- corrective action -->
            </td>
        </tr>
        <tr>
            <td>
                <textarea ng-model="fields['WWhen']" placeholder="WHEN(when did it happen)"></textarea>
            </td>
            <td>
                <select ng-model="fields['PPESupplied']" ng-options='v as v for (k,v) in  ["Yes","No"] '>
                    <option value="">PPE Supplied?</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <textarea ng-model="fields['WWhere']" placeholder="WHERE(Where is the job?)"></textarea>
            </td>
            <td>
                <select ng-model="fields['PPEInUse']" ng-options='v as v for (k,v) in  ["Yes","No"] '>
                    <option value="">PPE in use?</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <textarea ng-model="fields['WWho']" placeholder="WHO(Who is doing the job?)"></textarea>
            </td>
            <td>
                <select ng-model="fields['UsualWork']" ng-options='v as v for (k,v) in  ["Yes","No"] '>
                    <option value="">Usual work?</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea ng-model="fields['WWhich']" placeholder="WHICH(Which kind of job?)"></textarea>
            </td>
        <tr>
            <td colspan="2">
                <textarea ng-model="fields['HHow']" placeholder="HOW(How did this injury occur?)"></textarea>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext" colspan="7">Analysis Root Cause: Write "5 Why's" for the most probable cause</td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhy1']" placeholder="Why?" />
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhy2']" placeholder="Why?" />
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhy3']" placeholder="Why?" />
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhy4']" placeholder="Why?" />
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhy5']" placeholder="Why?" />
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <input type="text" ng-model="fields['FiveWhyRootCause']" placeholder="Root cause" />
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext" colspan="7">Categorize Root Cause</td>
        </tr>
        <tr>
            <td colspan="7">
                <select ng-model="fields['RootCauseID']" ng-options="k as v for (k,v) in queries['RootCauseID'].options" required>
                    <option value="">Root Cause Type</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <select ng-model="fields['SecondaryCauseID']" ng-options="k as v for (k,v) in queries['SecondaryCauseID'].options" required>
                    <option value="">Secondary Root Cause</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <select ng-model="fields['MicroCauseID']" ng-options="k as v for (k,v) in queries['MicroCauseID'].options" required>
                    <option value="">Micro Root Cause</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <select ng-model="fields['ActionID']" ng-options="k as v for (k,v) in queries['ActionID'].options" required>
                    <option value="">Action</option>
                </select>
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="vert-text ltblue whitetext">
                D<br>
                O
            </td>
            <td colspan="2" class="dkblue whitetext">Action Plan</td>
            <td class="dkblue whitetext">RESPONSIBLE</td>
            <td class="dkblue whitetext">DUE DATE</td>
            <td class="dkblue whitetext">CLOSE DATE</td>
            <td class="dkblue whitetext">NOTES</td>
        </tr>
        <tr>
            <td colspan="2" height="100px">
                <textarea ng-model="fields['ActionPlan']" placeholder="Action plan"></textarea><!-- action plan -->
            </td>
            <td>
                <textarea ng-model="fields['Responsible']" placeholder="Responsible"></textarea><!-- responsible -->
            </td>
            <td>
                <textarea ng-model="fields['DueDate']" placeholder="Due date"></textarea><!-- due date -->
            </td>
            <td>
                <textarea ng-model="fields['CloseDate']" placeholder="Close date"></textarea><!-- close date -->
            </td>
            <td>
                <textarea ng-model="fields['Notes']" placeholder="Notes"></textarea><!-- notes -->
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <table style="width: 100%;">
                    <tr>
                        <td rowspan="9" class="vert-text red whitetext">
                            C<br>
                            H<br>
                            E<br>
                            C<br>
                            K
                        </td>
                        <td colspan="3" height="150">
                            RESULTS ACHEIVED WEEKLY
                            <!-- an embedded excel chart maybe, or move to dashboard -->
                        </td>
                        <td class="vert-text yellow">
                            A<br>
                            C<br>
                            T
                        </td>
                        <td valign="top">
                            <table style="width: 100%; height: 150px;">
                                <tr>
                                    <td>
                                        <select ng-model="fields['ExpansionPlan']" ng-options='v as v for (k,v) in  ["Yes","No"] '>
                                            <option value="">Expansion Plan</option>
                                        </select>
                                    </td>
                                    <td>
                                        <textarea ng-model="fields['Location']" placeholder="Location"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea ng-model="fields['Act']" placeholder="Act"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <table style="width: 100%;">
                    <tr class="ltgrey">
                        <td></td>
                        <td>Employee</td>
                        <td>Team Leader</td>
                        <td>Supervisor</td>
                        <td>Mgr Depart.</td>
                        <td>Safety Mgr.</td>
                        <td>Plant Mgr.</td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Name</td>
                        <td>
                            <input type="text" ng-model="fields['EmployeeName']" placeholder="Employee Name" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['TeamLeadName']" placeholder="Team Lead Name" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['SupervisorName']" placeholder="Supervisor Name" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['DeptManagerName']" placeholder="Dept Mgr Name" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['SafetyMgrName']" placeholder="Safety Mgr Name" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['PlantMgrName']" placeholder="Plant Mgr Name" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Date</td>
                        <td>
                            <input type="date" ng-model="fields['EmployeeDate']" placeholder="Employee Date" />
                        </td>
                        <td>
                            <input type="date" ng-model="fields['TeamLeadDate']" placeholder="Team Lead Date" />
                        </td>
                        <td>
                            <input type="date" ng-model="fields['SupervisorDate']" placeholder="Supervisor Date" />
                        </td>
                        <td>
                            <input type="date" ng-model="fields['DeptManagerDate']" placeholder="Dept Mgr Date" />
                        </td>
                        <td>
                            <input type="date" ng-model="fields['SafetyMgrDate']" placeholder="Safety Mgr Date" />
                        </td>
                        <td>
                            <input type="date" ng-model="fields['PlantMgrDate']" placeholder="Plant Mgr Date" />
                        </td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Signature</td>
                        <td>
                            <input type="text" ng-model="fields['EmployeeSignature']" placeholder="Employee Signature" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['TeamLeadSignature']" placeholder="Team Lead Signature" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['SupervisorSignature']" placeholder="Supervisor Signature" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['DeptManagerSignature']" placeholder="Dept Mgr Signature" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['SafetyMgrSignature']" placeholder="Safety Mgr Signature" />
                        </td>
                        <td>
                            <input type="text" ng-model="fields['PlantMgrSignature']" placeholder="Plant Mgr Signature" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="ltgrey">
            <td colspan="5">
                <h3>Injured Statement</h3>
            </td>
            <td colspan="2">
                <h3>Witness Statement</h3>
            </td>
        </tr>
        <tr style="height: 200px;">
            <td colspan="5">
                <textarea ng-model="fields['InjuredStatement']" placeholder="Statement"></textarea>
            </td>
            <td colspan="2">
                <textarea ng-model="fields['WitnessStatement']" placeholder="Statement"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="text" ng-model="fields['InjuredSignature']" placeholder="Signature">
            </td>
            <td colspan="2">
                <input type="date" ng-model="fields['InjuredDate']" placeholder="Injured Date">
            </td>
            <td>
                <input type="text" ng-model="fields['WitnessSignature']" placeholder="Signature">
            </td>
            <td>
                <input type="date" ng-model="fields['WitnessDate']" placeholder="Witness Date">
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <button ng-click="open()">Open</button>
                <button ng-click="clear()">Clear</button>
                <button ng-click="submit()" ng-show="!hasRecord">Submit</button>
                <button ng-click="update()" ng-show="hasRecord">Update</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
