<!DOCTYPE HTML>
<html>
<head>
    <title>SEWO</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />

    <title>SEWO</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="form.initialize('SEWO', 'Safety',['ESEWOs'], 'vSAFEs')">
    <table style="width: 100%;">
        <tr>
            <td colspan="5" class="dkgrey whitetext">
                <h1>SEWO Report</h1>
            </td>
            <td colspan="3" class="ltgrey">
                <style>
                    [name*='[\'SEWONumber\']'] input {
                        background-color: inherit;
                        border: none;
                    }
                </style>
                <h2>SEWO Number<field name="fields['SEWONumber']"></field></h2>
            </td>
        </tr>
        <tr>
            <td rowspan="31" class="vert-text green whitetext">
                P<br>
                L<br>
                A<br>
                N
            </td>
            <td colspan="2" class="ltgrey">Accident Type</td>
            <td>
                <field name="fields['AccidentTypeID']"></field>
            </td>
            <td class="ltgrey">Sex</td>
            <td class="ltgrey">Position Type</td>
            <td class="ltgrey">PPE Supplied</td>
            <td class="ltgrey">PPE in Use</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['InjuredName']"></field>
            </td>
            <td>
                <field name="fields['Sex']"></field>
            </td>
            <td>
                <field name="fields['TypeOfPosition']" options="['Permanent','Temporary']"></field>
            </td>
            <td>
                <field name="fields['PPESupplied']" options='["Yes","No"]'></field>
            </td>
            <td>
                <field name="fields['PPEInUse']" options='["Yes","No"]'></field>
            </td>
        </tr>
        <tr class="ltgrey">
            <td colspan="3">Injured Job</td>
            <td>Reported By</td>
            <td>Shift</td>
            <td>Injury Date</td>
            <td>Injury Time</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['InjuredJob']"></field>
            </td>
            <td>
                <field name="fields['ReportedBy']"></field>
            </td>
            <td>
                <field name="fields['Shift']" options="[1,2,3]"></field>
            </td>
            <td>
                <field name="fields['InjuryDate']"></field>
            </td>
            <td>
                <field name="fields['InjuryTime']"></field>
            </td>
        </tr>
        <tr class="ltgrey">
            <td colspan="2">Injury Type</td>
            <td>Usual Work</td>
            <td>Plant</td>
            <td>Department</td>
            <td>Zone</td>
            <td>Machine</td>
        </tr>
        <tr>
            <td colspan="2">
                <field name="fields['InjuryTypeID']"></field>
            </td>
            <td>
                <field name="fields['TypeofPosition']"></field>
                <field name="fields['UsualWork']" options='["Yes","No"]'></field>
            </td>
            <td>
                <field name="fields['PlantID']"></field>
            </td>
            <td>
                <field name="fields['DepartmentID']"></field>
            </td>
            <td>
                <field name="fields['ZoneID']"></field>
            </td>
            <td>
                <field name="fields['MachineID']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">5W + 1H Analysis</td>
            <td colspan="2" rowspan="2" class="dkgreen whitetext">BODY CHART</td>
            <td class="dkgreen whitetext" rowspan="2">SKETCH</td>
            <td class="dkgreen whitetext" rowspan="2">CORRECTIVE ACTION</td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">What</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['WWhat']"></field>
            </td>
            <td colspan="2" rowspan="11">
                <style>
                    [name*="BodyPartID"] select {
                        height: 20%;
                        /*change to select when done*/
                    }
                </style>
                <img src="res/BodyChart.png" style="width: 200px; height: 200px;" />
                <field name="fields['BodyPartID']"></field>
            </td>
            <td rowspan="11">
                <sketch name="fields['SketchURL']"></sketch>
            </td>
            <td rowspan="11">
                <field name="fields['ActionDescription']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">When</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['WWhen']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">Where</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['WWhere']"></field>
            </td>

        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">Who</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['WWho']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">Which</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['WWhich']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="dkgreen whitetext">How</td>
        </tr>
        <tr>
            <td colspan="3">
                <field name="fields['HHow']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext" colspan="8">Analysis Root Cause: Write "5 Why's" for the most probable cause</td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">1</td>
            <td colspan="7">
                <field name="fields['FiveWhy1']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">..2</td>
            <td colspan="7">
                <field name="fields['FiveWhy2']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">....3</td>
            <td colspan="7">
                <field name="fields['FiveWhy3']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">......4</td>
            <td colspan="7">
                <field name="fields['FiveWhy4']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">........5</td>
            <td colspan="7">
                <field name="fields['FiveWhy5']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">Root Cause</td>
            <td colspan="7">
                <field name="fields['FiveWhyRootCause']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext" colspan="8">Categorize Root Cause</td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">Root Cause Type</td>
            <td colspan="7">
                <field name="fields['RootCauseID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">2nd Root Cause</td>
            <td colspan="7">
                <field name="fields['SecondaryCauseID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">Micro Root Cause</td>
            <td colspan="7">
                <field name="fields['MicroCauseID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgreen whitetext">Action</td>
            <td colspan="7">
                <field name="fields['ActionID']"></field>
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="vert-text blue whitetext">
                D<br>
                O
            </td>
            <td colspan="3" class="dkblue whitetext">Action Plan</td>
            <td class="dkblue whitetext">RESPONSIBLE</td>
            <td class="dkblue whitetext">DUE DATE</td>
            <td class="dkblue whitetext">CLOSE DATE</td>
            <td class="dkblue whitetext">NOTES</td>
        </tr>
        <tr>
            <td colspan="3" height="100px">
                <field name="fields['ActionPlan']"></field>
            </td>
            <td>
                <field name="fields['Responsible']"></field>
            </td>
            <td>
                <field name="fields['DueDate']"></field>
            </td>
            <td>
                <field name="fields['CloseDate']"></field>
            </td>
            <td>
                <field name="fields['Notes']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <table style="width: 100%;">
                    <tr>
                        <td rowspan="9" class="vert-text dkred whitetext">
                            C<br>
                            H<br>
                            E<br>
                            C<br>
                            K
                        </td>
                        <td colspan="3" height="150">
                            RESULTS ACHEIVED WEEKLY
                            <!-- an embedded excel chart maybe, or move to dashboard -->
                        </td>
                        <td class="vert-text yellow">
                            A<br>
                            C<br>
                            T
                        </td>
                        <td valign="top">
                            <table style="width: 100%; height: 150px;">
                                <tr>
                                    <td>
                                        <field name="fields['ExpansionPlan']" options='["Yes","No"]'></field>
                                    </td>
                                    <td>
                                        <field name="fields['Location']"></field>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <field name="fields['Act']"></field>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <table style="width: 100%;">
                    <tr class="ltgrey">
                        <td></td>
                        <td>Employee</td>
                        <td>Team Leader</td>
                        <td>Supervisor</td>
                        <td>Mgr Depart.</td>
                        <td>Safety Mgr.</td>
                        <td>Plant Mgr.</td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Name</td>
                        <td>
                            <field name="fields['EmployeeName']"></field>
                        </td>
                        <td>
                            <field name="fields['TeamLeadName']"></field>
                        </td>
                        <td>
                            <field name="fields['SupervisorName']"></field>
                        </td>
                        <td>
                            <field name="fields['DeptManagerName']"></field>
                        </td>
                        <td>
                            <field name="fields['SafetyMgrName']"></field>
                        </td>
                        <td>
                            <field name="fields['PlantMgrName']"></field>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Date</td>
                        <td>
                            <field name="fields['EmployeeDate']"></field>
                        </td>
                        <td>
                            <field name="fields['TeamLeadDate']"></field>
                        </td>
                        <td>
                            <field name="fields['SupervisorDate']"></field>
                        </td>
                        <td>
                            <field name="fields['DeptManagerDate']"></field>
                        </td>
                        <td>
                            <field name="fields['SafetyMgrDate']"></field>
                        </td>
                        <td>
                            <field name="fields['PlantMgrDate']"></field>
                        </td>
                    </tr>
                    <tr>
                        <td class="ltgrey">Signature</td>
                        <td>
                            <field name="fields['EmployeeSignature']"></field>
                        </td>
                        <td>
                            <field name="fields['TeamLeadSignature']"></field>
                        </td>
                        <td>
                            <field name="fields['SupervisorSignature']"></field>
                        </td>
                        <td>
                            <field name="fields['DeptManagerSignature']"></field>
                        </td>
                        <td>
                            <field name="fields['SafetyMgrSignature']"></field>
                        </td>
                        <td>
                            <field name="fields['PlantMgrSignature']"></field>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="ltgrey">
            <td colspan="6">
                <h3>Injured Statement</h3>
            </td>
            <td colspan="3">
                <h3>Witness Statement</h3>
            </td>
        </tr>
        <tr style="height: 200px;">
            <td colspan="6">
                <field name="fields['InjuredStatement']"></field>
            </td>
            <td colspan="2">
                <field name="fields['WitnessStatement']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <field name="fields['InjuredSignature']"></field>
            </td>
            <td colspan="2">
                <field name="fields['InjuredDate']"></field>
            </td>
            <td>
                <field name="fields['WitnessSignature']"></field>
            </td>
            <td>
                <field name="fields['WitnessDate']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>
