<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />

    <title>Tool Repair Form</title>

    <script>
        $(document.body).ready(function () {
            var scope = angular.element($("[ng-app='wcm']")).scope();
            scope.$apply(
                function () {
                    scope.$watch("fields['RepairedLocation']", function (n, o) {
                        var moundContacts = ["jmurphy@venturecorporation.net","pillars@ventureglobalengineering.com","dharper@mayco-mi.com","newberry@ventureglobalengineering.com"];
                        if (n != o) {
                            if (!scope.hasRecord && n == "Mound") {
                                scope.contacts = scope.contacts.concat(moundContacts);
                            } else {
                                for (var i = 0, l = moundContacts.length; i < l; ++i) {
                                    var index = scope.contacts.indexOf(moundContacts[i]);
                                    if(index > -1){
                                        scope.contacts.splice(index, 1);
                                    }
                                }
                            }
                        }
                    }, true);
                });
        });
    </script>
</head>

<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="form.initialize('Tool Repair', 'Safety', ['ToolIssues', 'ToolIssueRepairTypes'], 'vToolIssues')">
    <table id="repairTable">
        <tr>
            <td width="30px"></td>
            <td width="200px"></td>
            <td width="200px"></td>
            <td width="200px"></td>
        </tr>
        <tr>
            <td colspan="3" class="dkgrey whitetext"><h1>Tool Repair Form</h1></td>
            <td class="dkgrey whitetext">
                <style>
                    [name*='ID'] input {
                        background-color: inherit;
                    }
                </style>
                <h2>Tool Repair #<field name="tables['ToolIssues'].records[0].fields['ID']"></field></h2>
            </td>
        </tr>
        <tr>
            <td rowspan="16" class="red">T<br />o<br />o<br />l<br /> <br />R<br />e<br />p<br />a<br />i<br />r</td>
            <td class="red">Tool Description</td>
            <td class="red">Problems</td>
            <td class="red">Repair Type(s)</td>
        </tr>
        <tr>
            <td>{{fields['ToolName'].options[0]}}</td><!-- ng-model="fields['ToolName']" -->
            <td rowspan="11"><field name="tables['ToolIssues'].records[0].fields['Problems']"></field></td>
            <td rowspan="11">
                <style>
                    [name*='RepairTypeID'] select {
                        height: auto;
                        width: auto;
                    }
                </style>
                <field ng-repeat="rec in tables['ToolIssueRepairTypes'].records" name="rec.fields['RepairTypeID']"></field>
                <button ng-click="tables['ToolIssueRepairTypes'].copyRecord(0)">Add Repair</button>
            </td><!-- multiple -->
        </tr>
        <tr>
            <td class="red">Tool Number</td>
        </tr>
        <tr>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['ToolNumber']"></field>
            </td>
        </tr>
        <tr>
            <td class="red">Department</td>
        </tr>
        <tr>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['DepartmentID']"></field>
            </td>
        </tr>
        <tr>
            <td class="red">Zone</td>
        </tr>
        <tr>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['ZoneID']"></field>
            </td>
        </tr>
        <tr>
            <td class="red">Machine</td>
        </tr>
        <tr>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['MachineID']"></field>
            </td>
        </tr>
        <tr>
            <td class="red">Reported By</td>
        </tr>
        <tr>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['ReportedBy']"></field>
            </td>
        </tr>
        <tr>
            <td class="red">Pick Up Date</td>
            <td class="red">Repair Location</td>
            <td class="red">Notes</td>
        </tr>
        <tr>
            <td><field name="tables['ToolIssues'].records[0].fields['DateShipped']" /></td>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['RepairedLocation']" options="['Mayco','Mound']"></field>
            </td>
            <td rowspan="3"><field name="tables['ToolIssues'].records[0].fields['Notes']"></field></td>
        </tr>
        <tr>
            <td class="red">Due Date/Repair Date</td>
            <td class="red">Service</td>
        </tr>
        <tr>
            <td><field name="tables['ToolIssues'].records[0].fields['DateReceived']"></field></td>
            <td><field name="tables['ToolIssues'].records[0].fields['IsService']" options="{ 0 : false, 1 : true}"></field></td>
        </tr>
    </table>
    <table>
        <tr>
            <td width="30px"></td>
            <td width="200px"></td>
            <td width="200px"></td>
            <td width="200px"></td>
        </tr>
        <tr>
            <td rowspan="9" class="ltblue">T<br />o<br />o<br />l<br /> <br />A<br />n<br />a<br />l<br />y<br />s<br />i<br />s</td>
        </tr>
        <tr>
            <td colspan="2" class="ltblue">Work Completed (semi-colon separated)</td>
            <td class="ltblue">Shift Repaired On</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="5"><field name="tables['ToolIssues'].records[0].fields['ProblemsFixed']"></field></td>
            <td>
                <field name="tables['ToolIssues'].records[0].fields['RepairShift']" options="[1,2,3]"></field>
            </td>
        </tr>
        <tr>
            <td class="ltblue">Repair Cost</td>
        </tr>
        <tr>
            <td><field name="tables['ToolIssues'].records[0].fields['RepairCost']"></field></td>
        </tr>
        <tr>
            <td class="ltblue">Status (% Complete, 0 to 1)</td>
        </tr>
        <tr>
            <td rowspan="3"><field name="tables['ToolIssues'].records[0].fields['Status']"></field><!-- min="0" max="1" step="0.01" value="1" --></td>
        </tr>
        <tr>
            <td class="ltblue">Work Approved By</td>
            <td class="ltblue">Repaired By</td>
        </tr>
        <tr>
            <td><field name="tables['ToolIssues'].records[0].fields['ApprovedBy']"></field></td>
            <td><field name="tables['ToolIssues'].records[0].fields['RepairedBy']"></field></td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>