<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link rel="stylesheet" href="css/Normalize.css" />
    <link rel="stylesheet" href="css/FormClasses.css" />
    <style>
        h3 {
            padding: 0px;
            margin: 0px;
            font-size: 1em;
            font-weight: normal;
        }
    </style>

    <title>UCAN</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="form.initialize('UCAN', 'Safety', ['UCANs'], 'vUCANs')">
    <table>
        <tr>
            <td colspan="3" class="dkgrey whitetext"><h1>Unsafe Conditions And Acts Form</h1></td>
            <td class="ltgrey">
                <style>
                    [name*='ID'] input {
                        background-color: inherit;
                    }
                </style>
                <h2>UCAN Number<field name="fields['ID']"></field></h2>
            </td>
        </tr>
        <tr>
            <td class="ltgrey" style="width: 25%;"><h3>Type</h3></td>
            <td class="ltgrey" style="width: 25%;"><h3>Plant</h3></td>
            <td class="ltgrey" style="width: 25%;"><h3>Department</h3></td>
            <td class="ltgrey" style="width: 25%;"><h3>Description of Incident</h3></td>
        </tr>
        <tr>
            <td>
                <field name="fields['UCANType']" options="['Unsafe Condition', 'Unsafe Act']"></field>
            </td>
            <td>
                <field name="fields['PlantID']"></field>
            </td>
            <td>
                <field name="fields['DepartmentID']"></field>
            </td>
            <td rowspan="7"><field name="fields['UCANDescription']"></field></td>
        </tr>
        <tr>
            <td class="ltgrey"><h3>Reported By</h3></td>
            <td class="ltgrey"><h3>Location/Persons</h3></td>
            <td class="ltgrey"><h3>Zone</h3></td>
        </tr>
        <tr>
            <td><field name="fields['UCANReportedBy']"></field></td>
            <td rowspan="3"><field name="fields['UCANPersons']"></field></td>
            <td>
                <field name="fields['ZoneID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgrey"><h3>Safety Tag</h3></td>
            <td class="ltgrey"><h3>Machine</h3></td>
        </tr>
        <tr>
            <td>
                <field name="fields['IsSafetyTag']"></field>
            </td>
            <td>
                <field name="fields['MachineID']"></field>
            </td>
        </tr>
        <tr>
            <td class="ltgrey"><h3>Completed</h3></td>
            <td class="ltgrey"><h3>Date</h3></td>
            <td class="ltgrey"><h3>Original Tag No.</h3></td>
        </tr>
        <tr>
            <td>
                <field name="fields['UCANCompleted']"></field>
            </td>
            <td><field name="fields['UCANDate']"></field></td>
            <td><field name="fields['OrigTagNo']"></field></td>
        </tr>
        <tr>
            <td class ="ltgrey">Upload Image(s)</td>
            <td colspan="3" class="ltgrey"><h3>Action Plan</h3></td>
        </tr>
        <tr>
            <td><input type="file" id="file1" onchange="//broadcast image upload"></td>
            <td colspan="3" height="100px"><field name="fields['UCANActionPlan']"></field></td>
        </tr>
        <tr>
            <td colspan="4">
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>