<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        input, select, textarea, label {
            width: 100%;
            height: 50px;
        }

        textarea {
            height: 200px;
        }

        h2, h1 {
            width: 100%;
            font-family: Calibri;
            text-align: center;
        }

        button {
            width: 30%;
            height: 50px;
        }

        *:invalid {
            background-color: rgb(250,184,183);
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/imageupload.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <title>Unsafe Act</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="initialize('Unsafe Acts', 'WCM', ['UnsafeActs'])">
    <h1>Unsafe Act Form</h1>
    <label>Plant</label>
    <field field="fields['PlantID']"></field>
    <label>Department</label>
    <field field="fields['DepartmentID']"></field>
    <label>Zone</label>
    <field field="fields['ZoneID']"></field>
    <label>Shift</label>
    <field field="fields['Shift']" options="[1,2,3]"></field>
    <label>Type</label>
    <field field="fields['UATypeID']"></field>
    <label>Sub-Type</label>
    <field field="fields['UAMicroTypeID']"></field>
    <label>Image Upload</label><br />
    <imageupload field="fields['ImageURL']"></imageupload><br />
    <label>Comments</label><br />
    <field field="fields['Comments']"></field>
    <button ng-click="form.reset()">Reset</button>
    <button ng-click="form.reset()">Reset</button>
    <button ng-click="form.executeQueries()">{{form.hasRecord ? "Update" : "Submit"}}</button>
</body>
