<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        input, select, textarea, label {
            width: 100%;
            height: 50px;
        }

        textarea {
            height: 200px;
        }

        h2, h1 {
            width: 100%;
            font-family: Calibri;
            text-align: center;
        }

        input[name='ID'] {
            width: 10%;
            margin-left: 45%;
            margin-right: 454%;
        }

        button {
            width: 30%;
            height: 50px;
        }
    </style>

    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>

    <title>Unsafe Act</title>
</head>

<body ng-app="wcm"
      ng-controller="Form"
      ng-init="setFormData('Unsafe Act');">
    <h1>Unsafe Act Form</h1>
    <h2>UA Number {{hasRecord ? id  + " (Updating)" : " (New Form)"}}</h2>
    <label>Plant</label>
    <select ng-model="fields['Plant']" ng-options="k as v for (k,v) in queries['Plant'].options" required></select>
    <label>Department</label>
    <select ng-model="fields['Department']" ng-options="k as v for (k,v) in queries['Department'].options" required></select>
    <label>Zone</label>
    <select ng-model="fields['Zone']" ng-options="k as v for (k,v) in queries['Zone'].options" required></select>
    <label>Shift</label>
    <select ng-model="fields['Shift']" ng-options='v as v for (k,v) in  ["1","2","3"]'></select>
    <label>Type</label>
    <select ng-model="fields['UAType']" ng-options="k as v for (k,v) in queries['UAType'].options"></select>
    <label>Micro Type</label>
    <select ng-model="fields['UATypeMicro']" ng-options="k as v for (k,v) in queries['UATypeMicro'].options"></select>
    <label>Reviewed</label>
    <input type="checkbox" ng-model="fields['Reviewed']" ng-true-value="1" ng-false-value="0" />
    <label>Comments</label>
    <textarea ng-model="fields['Comments']"></textarea>
    <button ng-click="open()">Open</button>
    <button ng-click="clear()">Clear</button>
    <button ng-click="submit()" ng-show="!hasRecord">Submit</button>
    <button ng-click="update()" ng-show="hasRecord">Update</button>
</body>