<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        input, select, textarea, label {
            width: 100%;
            height: 50px;
        }

        textarea {
            height: 200px;
        }

        h2, h1 {
            width: 100%;
            font-family: Calibri;
            text-align: center;
        }

        button {
            width: 30%;
            height: 50px;
        }

        *:invalid {
            background-color: rgb(250,184,183);
        }
    </style>

    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.3/angular.min.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/imageupload.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <title>Unsafe Act</title>
</head>
<body ng-app="wcm" 
    ng-controller="Form" 
    ng-init="form.initialize('Unsafe Acts', 'WCM', ['UnsafeActs'])">
    <h1>Unsafe Act Form</h1>
    <h2>UA Number</h2>
    <field name="fields['ID']"></field>
    <label>Plant</label>
    <field name="fields['PlantID']"></field>
    <label>Department</label>
    <field name="fields['DepartmentID']"></field>
    <label>Zone</label>
    <field name="fields['ZoneID']"></field>
    <label>Shift</label>
    <field name="fields['Shift']" options="[1,2,3]"></field>
    <label>Type</label>
    <field name="fields['UATypeID']"></field>
    <label>Micro Type</label>
    <field name="fields['UAMicroTypeID']"></field>
    <label>Reviewed</label>
    <field name="fields['Reviewed']"></field>
    <imageupload name="fields['ImageURL']"></imageupload>
    <label>Comments</label>
    <field name="fields['Comments']"></field>
    <button ng-click="form.reset()">Reset</button>
    <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
    <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
</body>
