<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/Normalize.css" />
    <link rel="stylesheet" href="/css/Checklist.css" />

    <title>WCC</title>

    <style>
        h1{ 
	        color: skyblue;
        }

        h3{
	        background-color: skyblue;
        }

        strong{
	        background-color: skyblue;
        }
    </style>
</head>
<body ng-app="wcm"
      ng-controller="Form"
      ng-init="form.initialize('WCC', 'Safety', ['WCC', 'WCCLine'], 'vWCC', {'WCCLine' : 37},
    [{'table':'WCCLine','record':0,'field':'SubCategoryID','value':1},{'table':'WCCLine','record':1,'field':'SubCategoryID','value':2},
    {'table':'WCCLine','record':2,'field':'SubCategoryID','value':3},{'table':'WCCLine','record':3,'field':'SubCategoryID','value':5},
    {'table':'WCCLine','record':4,'field':'SubCategoryID','value':6},{'table':'WCCLine','record':5,'field':'SubCategoryID','value':4},
    {'table':'WCCLine','record':6,'field':'SubCategoryID','value':7},{'table':'WCCLine','record':7,'field':'SubCategoryID','value':8},
    {'table':'WCCLine','record':8,'field':'SubCategoryID','value':9},{'table':'WCCLine','record':9,'field':'SubCategoryID','value':15},
    {'table':'WCCLine','record':10,'field':'SubCategoryID','value':10},{'table':'WCCLine','record':11,'field':'SubCategoryID','value':11},
    {'table':'WCCLine','record':12,'field':'SubCategoryID','value':12},{'table':'WCCLine','record':13,'field':'SubCategoryID','value':13},
    {'table':'WCCLine','record':14,'field':'SubCategoryID','value':14},{'table':'WCCLine','record':15,'field':'SubCategoryID','value':56},
    {'table':'WCCLine','record':16,'field':'SubCategoryID','value':58},{'table':'WCCLine','record':17,'field':'SubCategoryID','value':59},
    {'table':'WCCLine','record':18,'field':'SubCategoryID','value':64},{'table':'WCCLine','record':19,'field':'SubCategoryID','value':65},
    {'table':'WCCLine','record':20,'field':'SubCategoryID','value':66},{'table':'WCCLine','record':21,'field':'SubCategoryID','value':67},
    {'table':'WCCLine','record':22,'field':'SubCategoryID','value':61},{'table':'WCCLine','record':23,'field':'SubCategoryID','value':62},
    {'table':'WCCLine','record':24,'field':'SubCategoryID','value':63},{'table':'WCCLine','record':25,'field':'SubCategoryID','value':53},
    {'table':'WCCLine','record':26,'field':'SubCategoryID','value':54},{'table':'WCCLine','record':27,'field':'SubCategoryID','value':55},
    {'table':'WCCLine','record':28,'field':'SubCategoryID','value':50},{'table':'WCCLine','record':29,'field':'SubCategoryID','value':51},
    {'table':'WCCLine','record':30,'field':'SubCategoryID','value':52},{'table':'WCCLine','record':31,'field':'SubCategoryID','value':44},
    {'table':'WCCLine','record':32,'field':'SubCategoryID','value':45},{'table':'WCCLine','record':33,'field':'SubCategoryID','value':46},
    {'table':'WCCLine','record':34,'field':'SubCategoryID','value':47},{'table':'WCCLine','record':35,'field':'SubCategoryID','value':48},
    {'table':'WCCLine','record':36,'field':'SubCategoryID','value':49},
    {'table':'WCCLine','record':0,'field':'CategoryID','value':1},{'table':'WCCLine','record':1,'field':'CategoryID','value':1},
    {'table':'WCCLine','record':2,'field':'CategoryID','value':1},{'table':'WCCLine','record':3,'field':'CategoryID','value':1},
    {'table':'WCCLine','record':4,'field':'CategoryID','value':1},{'table':'WCCLine','record':5,'field':'CategoryID','value':1},
    {'table':'WCCLine','record':6,'field':'CategoryID','value':2},{'table':'WCCLine','record':7,'field':'CategoryID','value':2},
    {'table':'WCCLine','record':8,'field':'CategoryID','value':2},{'table':'WCCLine','record':9,'field':'CategoryID','value':2},
    {'table':'WCCLine','record':10,'field':'CategoryID','value':2},{'table':'WCCLine','record':11,'field':'CategoryID','value':2},
    {'table':'WCCLine','record':12,'field':'CategoryID','value':2},{'table':'WCCLine','record':13,'field':'CategoryID','value':2},
    {'table':'WCCLine','record':14,'field':'CategoryID','value':2},{'table':'WCCLine','record':15,'field':'CategoryID','value':3},
    {'table':'WCCLine','record':16,'field':'CategoryID','value':3},{'table':'WCCLine','record':17,'field':'CategoryID','value':4},
    {'table':'WCCLine','record':18,'field':'CategoryID','value':4},{'table':'WCCLine','record':19,'field':'CategoryID','value':4},
    {'table':'WCCLine','record':20,'field':'CategoryID','value':4},{'table':'WCCLine','record':21,'field':'CategoryID','value':4},
    {'table':'WCCLine','record':22,'field':'CategoryID','value':4},{'table':'WCCLine','record':23,'field':'CategoryID','value':4},
    {'table':'WCCLine','record':24,'field':'CategoryID','value':4},{'table':'WCCLine','record':25,'field':'CategoryID','value':5},
    {'table':'WCCLine','record':26,'field':'CategoryID','value':5},{'table':'WCCLine','record':27,'field':'CategoryID','value':5},
    {'table':'WCCLine','record':28,'field':'CategoryID','value':6},{'table':'WCCLine','record':29,'field':'CategoryID','value':6},
    {'table':'WCCLine','record':30,'field':'CategoryID','value':6},{'table':'WCCLine','record':31,'field':'CategoryID','value':7},
    {'table':'WCCLine','record':32,'field':'CategoryID','value':7},{'table':'WCCLine','record':33,'field':'CategoryID','value':7},
    {'table':'WCCLine','record':34,'field':'CategoryID','value':7},{'table':'WCCLine','record':35,'field':'CategoryID','value':7},
    {'table':'WCCLine','record':36,'field':'CategoryID','value':7},
    {'table':'WCCLine','record':0,'field':'Severity','value':'High'},{'table':'WCCLine','record':1,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':2,'field':'Severity','value':'High'},{'table':'WCCLine','record':3,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':4,'field':'Severity','value':'Low'},{'table':'WCCLine','record':5,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':6,'field':'Severity','value':'High'},{'table':'WCCLine','record':7,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':8,'field':'Severity','value':'Medium'},{'table':'WCCLine','record':9,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':10,'field':'Severity','value':'Medium'},{'table':'WCCLine','record':11,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':12,'field':'Severity','value':'High'},{'table':'WCCLine','record':13,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':14,'field':'Severity','value':'High'},{'table':'WCCLine','record':15,'field':'Severity','value':'Low'},
    {'table':'WCCLine','record':16,'field':'Severity','value':'Low'},{'table':'WCCLine','record':17,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':18,'field':'Severity','value':'High'},{'table':'WCCLine','record':19,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':20,'field':'Severity','value':'Medium'},{'table':'WCCLine','record':21,'field':'Severity','value':'Low'},
    {'table':'WCCLine','record':22,'field':'Severity','value':'High'},{'table':'WCCLine','record':23,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':24,'field':'Severity','value':'Low'},{'table':'WCCLine','record':25,'field':'Severity','value':'Medium'},
    {'table':'WCCLine','record':26,'field':'Severity','value':'High'},{'table':'WCCLine','record':27,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':28,'field':'Severity','value':'Medium'},{'table':'WCCLine','record':29,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':30,'field':'Severity','value':'High'},{'table':'WCCLine','record':31,'field':'Severity','value':'Low'},
    {'table':'WCCLine','record':32,'field':'Severity','value':'Low'},{'table':'WCCLine','record':33,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':34,'field':'Severity','value':'High'},{'table':'WCCLine','record':35,'field':'Severity','value':'High'},
    {'table':'WCCLine','record':36,'field':'Severity','value':'High'}])">
    <table>
        <tr>
            <td colspan="3">
                <style>
                    [name*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                        color: skyblue;
                    }
                </style>
                <h1>Work Cell Observation Checklist No. <field name="tables['WCC'].records[0].fields['ID']"></field></h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field name="tables['WCC'].records[0].fields['WCDate']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Shift</strong>
                    <field name="tables['WCC'].records[0].fields['Shift']" options="[1,2,3]"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Auditor's Name</strong>
                    <field name="tables['WCC'].records[0].fields['AuditorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Plant</strong>
                    <field name="tables['WCC'].records[0].fields['PlantID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field name="tables['WCC'].records[0].fields['DepartmentID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field name="tables['WCC'].records[0].fields['ZoneID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field name="tables['WCC'].records[0].fields['MachineID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Work Cell</strong>
                    <field name="tables['WCC'].records[0].fields['WorkCellID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Tool No.</strong>
                    <field name="tables['WCC'].records[0].fields['MoldNo']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor</strong>
                    <field name="tables['WCC'].records[0].fields['SupervisorID']"></field>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Requirement</h2>
            </td>
            <td>
                <h2>Select</h2>
            </td>
        </tr>
        <tr ng-repeat-start="rec in tables['WCCLine'].records track by $index" class="header">
            <td colspan="3">
                <h3>
                    {{( rec.fields['CategoryID'].value != tables['WCCLine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].options[rec.fields['CategoryID'].value]  : ''}}
                </h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end>
            <td>
                <span>
                    {{$index + 1}}. {{rec.fields['SubCategoryID'].options[rec.fields['SubCategoryID'].value]}}
                </span>
            </td>
            <td>
                <imageupload name="rec.fields['ImageURL']"></imageupload>
            </td>
            <td>
                <field name="rec.fields['Compliant']" options="['Satisfactory','Unsafe Condition','Unsafe Act','Both']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>Comments</h3>
            </td>
        </tr>
        <tr></tr>
        <!-- makes sure the next (last) row is blue, becaue of the nth-of-type rule-->
        <tr>
            <td colspan="2">
                <field name="tables['WCC'].records[0].fields['Comments']" placeholder="Comments"></field><br />
            </td>
            <td>
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>
