<!DOCTYPE html>
<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.js"></script>
    <script src="/scripts/js/wcm.js"></script>
    <script src="/scripts/js/form.js"></script>
    <script src="/scripts/js/table.js"></script>
    <script src="/scripts/js/record.js"></script>
    <script src="/scripts/js/field.js"></script>
    <script src="/scripts/js/format.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/Normalize.css" />
    <link rel="stylesheet" href="/css/Checklist.css" />

    <title>WCC</title>

    <style>
        h1{ 
	        color: skyblue;
        }

        h3{
	        background-color: skyblue;
        }

        strong{
	        background-color: skyblue;
        }
    </style>
</head>
<body ng-app="wcm"
      ng-controller="Form"
      ng-init="form.initialize('WCC', 'Safety', ['WCC', 'WCCLine'], 'vWCC', {'WCCLine' : 37},
      {'WCCLine' : {
        0 : { 'SubCategoryID' : 1, 'CategoryID' : 1, 'Severity' : 'High'}, 1 : {'SubCategoryID' : 2, 'CategoryID' : 1, 'Severity' : 'High'},
        2 : {'SubCategoryID' : 3, 'CategoryID' : 1, 'Severity' : 'High'}, 3 : {'SubCategoryID' : 5, 'CategoryID' : 1, 'Severity' : 'Medium'},
        4 : { 'SubCategoryID' : 6 , 'CategoryID' : 1, 'Severity' : 'Low'}, 5 : {'SubCategoryID' : 4, 'CategoryID' : 1, 'Severity' : 'High'},
        6 : {'SubCategoryID' : 7, 'CategoryID' : 2, 'Severity' : 'High'}, 7 : {'SubCategoryID' : 8, 'CategoryID' : 2, 'Severity' : 'High'},
        8 : { 'SubCategoryID' : 9, 'CategoryID' : 2, 'Severity' : 'Medium' }, 9 : {'SubCategoryID' : 15, 'CategoryID' : 2, 'Severity' : 'Medium'},
        10 : {'SubCategoryID' : 10, 'CategoryID' : 2, 'Severity' : 'Medium'}, 11 : {'SubCategoryID' : 11, 'CategoryID' : 2, 'Severity' : 'Medium'},
        12 : { 'SubCategoryID' : 12, 'CategoryID' : 2, 'Severity' : 'High' }, 13 : {'SubCategoryID' : 13, 'CategoryID' : 2, 'Severity' : 'Medium'},
        14 : {'SubCategoryID' : 14, 'CategoryID' : 2, 'Severity' : 'High'}, 15 : {'SubCategoryID' : 56, 'CategoryID' : 3, 'Severity' : 'Low'},
        16 : { 'SubCategoryID' : 58, 'CategoryID' : 3, 'Severity' : 'Low' }, 17 : {'SubCategoryID' : 59, 'CategoryID' : 4, 'Severity' : 'Medium'},
        18 : {'SubCategoryID' : 64, 'CategoryID' : 4, 'Severity' : 'High'}, 19 : {'SubCategoryID' : 65, 'CategoryID' : 4, 'Severity' : 'Medium'},
        20 : { 'SubCategoryID' : 66, 'CategoryID' : 4, 'Severity' : 'Medium' }, 21 : {'SubCategoryID' : 67, 'CategoryID' : 4, 'Severity' : 'Low'},
        22 : {'SubCategoryID' : 61, 'CategoryID' : 4, 'Severity' : 'High'}, 23 : {'SubCategoryID' : 62, 'CategoryID' : 4, 'Severity' : 'High'},
        24 : { 'SubCategoryID' : 63, 'CategoryID' : 4, 'Severity' : 'Low' }, 25 : {'SubCategoryID' : 53, 'CategoryID' : 5, 'Severity' : 'Medium'},
        26 : {'SubCategoryID' : 54, 'CategoryID' : 5, 'Severity' : 'High'}, 27 : {'SubCategoryID' : 55, 'CategoryID' : 5, 'Severity' : 'High'},
        28 : { 'SubCategoryID' : 50, 'CategoryID' : 6, 'Severity' : 'High' }, 29 : {'SubCategoryID' : 51, 'CategoryID' : 6, 'Severity' : 'High'},
        30 : {'SubCategoryID' : 52, 'CategoryID' : 6, 'Severity' : 'High'}, 31 : {'SubCategoryID' : 44, 'CategoryID' : 7, 'Severity' : 'Low'},
        32 : { 'SubCategoryID' : 45, 'CategoryID' : 7, 'Severity' : 'Low' }, 33 : {'SubCategoryID' : 46, 'CategoryID' : 7, 'Severity' : 'High'},
        34 : {'SubCategoryID' : 47, 'CategoryID' : 7, 'Severity' : 'High'}, 35 : {'SubCategoryID' : 48, 'CategoryID' : 7, 'Severity' : 'High'},
        36 : { 'SubCategoryID' : 49, 'CategoryID' : 7, 'Severity' : 'High'}
        }
      })">
    <table>
        <tr>
            <td colspan="3">
                <style>
                    [name*='[\'ID\']'] input {
                        background-color: inherit;
                        border: none;
                        color: skyblue;
                    }
                </style>
                <h1>Work Cell Observation Checklist No. <field name="tables['WCC'].records[0].fields['ID']"></field></h1>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="inputPlusLabel">
                    <strong>Date</strong>
                    <field name="tables['WCC'].records[0].fields['WCDate']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Shift</strong>
                    <field name="tables['WCC'].records[0].fields['Shift']" options="[1,2,3]"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Auditor's Name</strong>
                    <field name="tables['WCC'].records[0].fields['AuditorID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Plant</strong>
                    <field name="tables['WCC'].records[0].fields['PlantID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Department</strong>
                    <field name="tables['WCC'].records[0].fields['DepartmentID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Zone</strong>
                    <field name="tables['WCC'].records[0].fields['ZoneID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Machine</strong>
                    <field name="tables['WCC'].records[0].fields['MachineID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Work Cell</strong>
                    <field name="tables['WCC'].records[0].fields['WorkCellID']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Tool No.</strong>
                    <field name="tables['WCC'].records[0].fields['MoldNo']"></field>
                </div>
                <div class="inputPlusLabel">
                    <strong>Supervisor</strong>
                    <field name="tables['WCC'].records[0].fields['SupervisorID']"></field>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h2>Requirement</h2>
            </td>
            <td>
                <h2>Select</h2>
            </td>
        </tr>
        <tr ng-repeat-start="rec in tables['WCCLine'].records track by $index" class="header">
            <td colspan="3">
                <h3>
                    {{( rec.fields['CategoryID'].value != tables['WCCLine'].records[$index - 1].fields['CategoryID'].value)  ? rec.fields['CategoryID'].getOptionText(rec.fields['CategoryID'].value)  : ''}}
                </h3>
            </td>
        </tr>
        <tr></tr>
        <tr ng-repeat-end>
            <td>
                <span>
                    {{$index + 1}}. {{rec.fields['SubCategoryID'].getOptionText(rec.fields['SubCategoryID'].value)}}
                </span>
            </td>
            <td>
                <imageupload name="rec.fields['ImageURL']"></imageupload>
            </td>
            <td>
                <field name="rec.fields['Compliant']" options="['Satisfactory','Unsafe Condition','Unsafe Act','Both']"></field>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h3>Comments</h3>
            </td>
        </tr>
        <tr></tr>
        <!-- makes sure the next (last) row is blue, becaue of the nth-of-type rule-->
        <tr>
            <td colspan="2">
                <field name="tables['WCC'].records[0].fields['Comments']" placeholder="Comments"></field><br />
            </td>
            <td>
                <button ng-click="form.reset()">Reset</button>
                <button ng-click="form.submit()" ng-show="!form.hasRecord">Submit</button>
                <button ng-click="form.update()" ng-show="form.hasRecord">Update</button>
            </td>
        </tr>
    </table>
</body>
</html>
